// ------------------------------------------------ \\
// $CUSTOM THEME
//
// * Custom components
// * Custom utility classes
// * Imported in `m2m.scss`
// ------------------------------------------------ //

/* purgecss start ignore */

// ------------------------------------------------ \\
// $GENERAL
// ------------------------------------------------ //
html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}
body {
  background: transparent url(/assets/images/watercolor.png) no-repeat top right;
  background-attachment: fixed;
  // @media (prefers-color-scheme: dark) {
  //   background: $body-bg-dark url(/assets/images/watercolor-dark.png) no-repeat top right;
  // }
}


// ------------------------------------------------ \\
// $LAYOUT
// ------------------------------------------------ //

header {
  background: transparent url(/assets/images/dirt.png) repeat center center;
}
.m2m-container {
  @include media-breakpoint-up(md) {
    @include make-container($spacer);
    max-width: 960px;
  }
}
footer {
  background: $background-l-70 url(/assets/images/denim.png) no-repeat bottom left;
  background-attachment: fixed;
}
.footer-wave {
  svg {
    width: 100%;
    height: 50px;
  }
}


// ------------------------------------------------ \\
// $SPACING
// ------------------------------------------------ //

.w-16 {
  width: 32%;
  @include media-breakpoint-up(md) {
    width: 16%;
  }
}


// ------------------------------------------------ \\
// $HEADINGS
// ------------------------------------------------ //

h1 {
  @extend .m2m-mask-texture;
}

// Search page result heading (component)
h4 {
  .list-result & {
    @extend .h2;
    margin-bottom: $spacer;
  }
}


// ------------------------------------------------ \\
// $NAVIGATION
// ------------------------------------------------ //

.nav-main {
  .nav-link {
    font-size: 1.1rem;
    color: black;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba($background-d-50, .8);
    text-underline-offset: 3px;
    margin: 0 $spacer/2;
    &:hover {
      opacity: .6;
    }
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      margin: 0 $spacer;
    }
  }
}
.nav-secondary {
  font-size: 1rem;
  a {
    display: inline-block;
    text-decoration-color: rgba($background-d-20, .8) !important;
    padding: 2px 6px;
  }
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
    a {
      margin-right: 8px;
      &::last-child {
        margin-right: 0;
      }
    }
  }
}
.m2m-current {
  color: $background-d-50 !important;
  text-decoration-color: rgba($background-d-50, .8) !important;
  text-decoration-thickness: 4px !important;
  footer & {
    color: $background-d-50 !important;
    &:hover {
      color: $background-d-50 !important;
    }
  }
}
.m2m-right-arrow::after {
  display: inline-block;
  content: '\203a';
  padding-left: 2px;
}
.m2m-left-arrow::before {
  display: inline-block;
  content: '\2039';
  padding-right: 2px;
}

// Table of contents
// ------------------------------------------------ *
.inline_toc {
  @extend .my-0;
  li {
    line-height: 2 !important;
  }
}


// ------------------------------------------------ \\
// $TYPOGRAPHY
// ------------------------------------------------ //

p {
  @extend %m2m-entry-fs;
  hyphens: auto;
  // Lead paragraphs
  &.lead {
    @extend %m2m-serif;
    font-size: rfs-fluid-value(30px);
    line-height: 1.3 !important;
    text-indent: 0;
    text-align: left !important;
    margin: $spacer*2 0 !important;
  }
}
em {
  @extend %m2m-serif;
}
code {
  background-color: $white;
  padding: $spacer*0.1;
  border-radius: 3px;
}
pre {
  font-size: rfs-fluid-value(16px);
  color: $pre-color;
  margin: $spacer*2.5 0;
  padding: $spacer*1.5;
  background: rgba($light, 0.7);
  border-radius: 9px;
  border-bottom: 1px solid $light;
  @include media-breakpoint-up(lg) {
    width: 90%;
  }
  code {
    background-color: transparent;
    color: $black;
  }
}
kbd {
  .post-meta &, .m2m-label & {
    padding: 8px 12px;
    border-radius: 8px; 
  }
  .post-meta & {
    background-color: transparent;
    border: 1px solid $background-d-20;
  }
  footer & {
    background-color: $background-d-70 !important;
    color: $white !important;
  }
}

// Font micro size
.m2m-font-micro {
  @include font-size($micro-font-size);
  line-height: 1.2;
}

// Blockquote
blockquote {
  @extend .blockquote;
  margin-top: $spacer*2;
  padding-left: $spacer*1.25;
  border-left: 2px solid $background-d-10;
  line-height: 1.3;
  @include media-breakpoint-up(md) {
    width: 80%;
  }
  p {
    @extend %m2m-serif;
    display: inline;
    text-indent: 0;
    &:first-child {
      margin-bottom: $spacer;
    }
  }
}
// Blockquote cite
cite {
  font-family: $font-family-base;
  display: block;
  font-style: normal;
  font-weight: 700;
  text-indent: 0;
  margin-top: $spacer*0.5;
}


// ------------------------------------------------ \\
// $LINKS
// ------------------------------------------------ //

// Links and hover (component as a utility class)
%m2m-link,
.m2m-link {
  color: $link-color !important;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba($background-d-30, .6) !important;
  &:hover {
    color: $link-hover-color !important;
    text-decoration-line: underline;
    text-decoration-color: $background-d-50;
    text-decoration-thickness: 3px;
  }
}
.m2m-link-hover:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}
%m2m-link-entry,
.m2m-link-entry {
  color: $primary;
  text-decoration-color: $primary;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  &:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
  }
}
// Tag & cats results link in search page + 404 page
.page-page-not-found,
.page-search { 
  a[href*="/tag/"] {
    text-transform: capitalize;
    &::before {
      content: 'Tag archive: ';
    }
  }
  a[href*="/category/"]::before {
    content: 'Category archive: ';
  }
}
.previous-next-post-links {
  a {
    line-height: 1.3;
  }
}
// Stretched link (TwBs utility class - redefined)
.stretched-link {
  @extend %m2m-link;
}


// ------------------------------------------------ \\
// $ENTRY
// ------------------------------------------------ *
// Default container for posts and pages
// ------------------------------------------------ *
// This is the only real component of the website
// Everything else should be utility-first CSS
// ------------------------------------------------ //

// Default entry font size
%m2m-entry-fs,
.m2m-entry-fs {
  font-size: rfs-fluid-value(24px);
}
.m2m-entry {
  // entry headings
  h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
    color: $m2m-heading-color-base;
    margin-top: $spacer * 3;
  }
  // Entry block paragraphs
  p {
    margin-bottom: 0;
    line-height: 1.3;
    @include media-breakpoint-up(xxl) {
      line-height: 1.45;
    }
    &:not(.lead) {
      & + p {
        text-indent: $spacer*2.5;
      }
    }
    // Entry block detached optional paragraph
    &.detached {
      text-indent: 0 !important;
      margin-top: $spacer*2;
    }
  }
  // Entry block link
  a:not(.btn),
  a:not(.m2m-link) {
    @extend %m2m-link-entry;
  }
  // Entry block ordered lists
  ol {
    margin-top: $spacer*1.5;
    margin-bottom: $spacer*1.5;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    li {
      @extend %m2m-entry-fs;
      line-height: 1.45;
      hyphens: auto;
      ol {
        margin-top: 0;
      }
    }
  }
  // Entry block unordered lists
  ul {
    @extend %m2m-ul;
    li {
      @extend %m2m-entry-fs;
      line-height: 1.45;
      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}


// ------------------------------------------------ \\
// $WEBMENTIONS
// ------------------------------------------------ //

#webmentions,
.webmentions {
  position: relative;
  z-index: 100;
  line-height: 1.2;
  @include media-breakpoint-down(md) {
    width: 100%;
  }
  h2 {
    text-align: center;
  }
  ul {
    @include list-unstyled();
    margin: 0 0 3rem 0;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
    li {
      margin-bottom: 1rem;
      &.reaction-reply {
        margin-left: .75rem;
        padding-left: 1rem;
        border-left: 2px solid #f3eae5;
      }
    }
  }
  a {
    &.reaction {
      text-decoration: none;
      img {
        width: 36px;
        height: 36px;
        border-radius: 4px;
      }
    }
  }
}
.reacts {
  .reaction {
    display: inline-block;
    margin: 6px 6px 6px 0;
  }
}
.comments li {
  @extend .fs-5;
}


// ------------------------------------------------ \\
// $CARDS
// ------------------------------------------------ //

.card {
  border-bottom-width: $card-border-width * 3;
  img {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }
}


// ------------------------------------------------ \\
// $IMAGES
// ------------------------------------------------ //

img { 
  max-width: 100%; 
  height: auto;
}
figure,
picture { 
  margin: auto;
}
figcaption  {
  @extend .initialism;
}
.comp-logos { 
  width: 130px; 
  height: auto;
}
.casestudy-feat {
  border: 3px solid $light;
  border-radius: $spacer;
}
// Horizontal line spacer
hr {
  width: $spacer*5;
  text-align: center;
  margin: $spacer*3 auto;
  &:not([size]) { height: 2px; }
}


// ------------------------------------------------ \\
// $LISTS
// ------------------------------------------------ //

.m2m-ul,
%m2m-ul {
  list-style-position: outside;
  margin: $spacer 0 $spacer*1.5 0;
  padding-left: $spacer*1.5;
  li {
    margin: .35rem 0;
    &::marker {
      color: $link-d-20;
    }
  }
}


// ------------------------------------------------ \\
// $EMBEDS
// ------------------------------------------------ //

// Responsive iframe
.iframe-container {
  padding-top: 56.25%; // 16:9 aspect ratio
  overflow: hidden;
  position: relative;
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.iframe-spotify iframe {
  border-radius:12px;
}
.iframe-bandcamp iframe {
  border: 0;
  min-width: 470px;
  width: 80%;
}
.iframe-bandcamp.bc-single iframe {
  height: 120px;
}
.iframe-bandcamp.bc-ep iframe {
  height: 220px;
}
.iframe-bandcamp.bc-album iframe {
  height: 400px;
}


// ------------------------------------------------ \\
// $TABLES
// (TwBs utility class - redefined)
// ------------------------------------------------ //

.table {
  font-size: rfs-fluid-value(22px);
}
.m2m-table-meta {
  background: var(--bs-table-striped-bg);
}


// ------------------------------------------------ \\
// $BUTTONS
// ------------------------------------------------ //

// Default button
.btn-m2m {
  @extend .m2m-transition-bg-01s;
  color: $white;
  text-decoration: none !important;
  background-color: $heading-d-30;
  &:hover {
    color: $white !important;
    text-decoration: none !important;
    background-color: $heading;
  }
}

// Default call-to-action
.btn-m2m-cta {
  @extend .m2m-fw-black;
  text-decoration: none !important;
  background-color: $link-l-30 !important;
  color: $heading-d-30 !important;
  border-bottom: 4px solid $link-d-10;
  border-right: 2px solid $link-d-10;
  &:hover {
    color: $white !important;
    text-decoration: none !important;
    background-color: $link-d-60 !important;
    border-bottom: 4px solid transparent;
    border-right: 2px solid transparent;
    text-shadow: none;
  }
}


// ------------------------------------------------ \\
// $LABELS
// ------------------------------------------------ //

// Label
.btn-label-m2m {
  font-size: rfs-fluid-value(11px);
  color: $link-d-70;
}
.btn-label-lg-m2m {
  font-size: rfs-fluid-value(16px);
}
// Label background
.btn-label-m2m-bg {
  background-color: $background-l-20; 
}
// Label link
.btn-label-m2m-link {
  @extend .m2m-transition-bg-03s;
  &:hover {
    color: $link-l-80 !important;
    background-color: $background-d-70;
  }
}


// ------------------------------------------------ \\
// $EFFECTS
// ------------------------------------------------ //

.m2m-mask-texture {
  -webkit-mask-image: url('/assets/images/heading-texture.png');
  mask-image: url('/assets/images/heading-texture.png');
}
.m2m-unmask-texture {
  -webkit-mask-image: none !important;
  mask-image: none !important;
}
// Translucent BG
// ------------------------------------------------ *
.m2m-translucent-bg {
  background: rgba($background-l-30, .3);
}
// Text shadow
// ------------------------------------------------ *
.m2m-tx-shadow {
  text-shadow: 0px 0px 0px #fff, 0 0 0 #000, 0px 1px 1px #fff;
}
// TRANSITIONS
// ------------------------------------------------ *
// Resulting classes to be used in HTML:
// ------------------------------------------------ *
// * m2m-transition-bg-01s
// * m2m-transition-bg-03s
// * m2m-transition-color-01s
// * m2m-transition-color-03s
// * m2m-transition-txtdec-01s
// * m2m-transition-txtdec-03s
// * m2m-transition-border-01s
// * m2m-transition-border-03s
// * m2m-transition-opacity-01s
// * m2m-transition-opacity-03s
// ------------------------------------------------ *
.m2m-transition {
    // Background
    &-bg-01s:hover      { transition: background-color 0.1s ease-in !important; }
    &-bg-03s:hover      { transition: background-color 0.3s ease-in !important; }
    // Text color
    &-color-01s:hover   { transition: color 0.1s ease-in !important; }
    &:hover   { transition: color 0.3s ease-in !important; }
    // Text-decoration
    &-txtdec-01s:hover  { transition: text-decoration-color 0.1s ease-in !important; }
    &-txtdec-03s:hover  { transition: text-decoration-color 0.3s ease-in !important; }
    // Opacity
    &-opacity-01s,
    &-opacity-03s       { opacity: 1; }
    &-opacity-01s:hover { opacity: .8; transition: opacity .1s ease-in-out !important; }
    &-opacity-03s:hover { opacity: .8; transition: opacity .3s ease-in-out !important; }
    // Borders
    &-border-01s        { border: 3px solid transparent; }
    &-border-03s        { border: 3px solid transparent; }
    &-border-01s:hover  { border: 3px solid $background-d-20; transition: border 0.1s ease-in !important; }
    &-border-03s:hover  { border: 3px solid $background-d-20; transition: border 0.3s ease-in !important; }
}
// Text rotation
// ------------------------------------------------ *
.m2m-text-rotate {
  transform: rotate(359deg);
}
// Letter spacing
// ------------------------------------------------ *
.m2m-letter-spacing-w1 {
  letter-spacing: $letter-spacing-wide-1;
}
// Mark (highlights)
// ------------------------------------------------ *
mark {
  &.m2m-highlight {
    display: inline-block;
    border-radius: 1.5rem 0.5rem 1.2rem 0.7rem;
    background-image: linear-gradient(-100deg, rgba(255,224,0,0.1), rgba(255,224,0,0.5) 95%, rgba(255,224,0,0.2));
  }
}


// ------------------------------------------------ \\
// $SYNTAX HIGHLIGHT
// ------------------------------------------------ //

.highlight {
  table td { 
    padding: 5px;
  }
  table pre { 
    margin: 0;
  }
  .cm,
  .c1 {
    color: #999988;
    font-style: italic;
  }
  .cp {
    color: #999999;
    font-weight: bold;
  }
  .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .gd {
    color: $black;
    background-color: #ffdddd;
  }
  .ge {
    color: $black;
    font-style: italic;
  }
  .gr,
  .gt { color: #aa0000; }
  .gh { color: #999999; }
  .gi { color: #000000; background-color: #ddffdd;
  }
  .go { color: #888888; }
  .gp { color: #555555; }
  .gs { font-weight: bold; }
  .gu { color: #aaaaaa; }
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .k,
  .kv,
  .sa,
  .ow,
  .o { color: $black; font-weight: bold; }
  .c, 
  .ch,
  .cd,
  .cpf { color: #999988; font-style: italic; }
  .kt  { color: #445588; font-weight: bold; }
  .mf,
  .mh,
  .il,
  .mi,
  .mo,
  .m,
  .mb,
  .mx { color: #009999; }
  .sb,
  .sc,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .s1,
  .s,
  .dl { color: #d14; }
  .sr { color: #009926; }
  .na { color: #008080; }
  .bp { color: #999999; }
  .nb { color: #0086B3; }
  .nc { color: #445588; font-weight: bold; }
  .no { color: #008080; }
  .nd { color: #3c5d5d; font-weight: bold; }
  .ni { color: #800080; }
  .ne,
  .nl,
  .nf,
  .fm { color: #990000; font-weight: bold; }
  .nn { color: #555555; }
  .nt { color: #000080; }
  .ss { color: #990073; }
  .vc,
  .vg,
  .vi,
  .nv,
  .vm { color: #008080; }
  .w { color: #bbbbbb; }
}

/* purgecss end ignore */