// ------------------------------------------------ \\
// $M2M-IMAGEGALLERY
//
// Example usage in a post or page:
//
// {%- 
//    include pattern-imagegallery.html 
//    folder="/assets/images/my-gallery/" 
//    id="1"
// -%} 
// ------------------------------------------------ //

/* purgecss start ignore */

.m2m-img-gallery-thumb {
  width: $m2m-gallery-thumb-w;
  height: $m2m-gallery-thumb-h;
}
.m2m-image-gallery-caption {
  width: $m2m-gallery-thumb-caption;
}

/* purgecss end ignore */