// ------------------------------------------------ \\
// $CUSTOM COLOR PALETTE
//
// Utility classes + variables
// ------------------------------------------------
// Define default, darker and lighter variants
// (10 to 90 percent) for:
// ------------------------------------------------
// * backgrounds
// * headings
// * links
//
// Imported in `m2m.scss`
// ------------------------------------------------ //

// Defaults
$background:#eaeabe !default;
$heading: #5b625a !default;
$link: #d7d7be !default;

// Custom
$m2m-bg-color-base: $background;
$m2m-heading-color-base: $heading;
$m2m-link-color-base: $link;

// Dark mode
$body-bg-dark: #252525;
$body-color-dark: $gray-100;

// Map for colors
$m2m-colors: (
  heads: (
    base: $heading,
    l-10: tint-color($heading, 10%),
    l-20: tint-color($heading, 20%),
    l-30: tint-color($heading, 30%),
    l-40: tint-color($heading, 40%),
    l-50: tint-color($heading, 50%),
    l-60: tint-color($heading, 60%),
    l-70: tint-color($heading, 70%),
    l-80: tint-color($heading, 80%),
    l-90: tint-color($heading, 90%),
    d-10: shade-color($heading, 10%),
    d-20: shade-color($heading, 20%),
    d-30: shade-color($heading, 30%),
    d-40: shade-color($heading, 40%),
    d-50: shade-color($heading, 50%),
    d-60: shade-color($heading, 60%),
    d-70: shade-color($heading, 70%),
    d-80: shade-color($heading, 80%),
    d-90: shade-color($heading, 90%)
  ),
  link: (
    base: $link,
    l-10: tint-color($link, 10%),
    l-20: tint-color($link, 20%),
    l-30: tint-color($link, 30%),
    l-40: tint-color($link, 40%),
    l-50: tint-color($link, 50%),
    l-60: tint-color($link, 60%),
    l-70: tint-color($link, 70%),
    l-80: tint-color($link, 80%),
    l-90: tint-color($link, 90%),
    d-10: shade-color($link, 10%),
    d-20: shade-color($link, 20%),
    d-30: shade-color($link, 30%),
    d-40: shade-color($link, 40%),
    d-50: shade-color($link, 50%),
    d-60: shade-color($link, 60%),
    d-70: shade-color($link, 70%),
    d-80: shade-color($link, 80%),
    d-90: shade-color($link, 90%)
  )
);

// Map for background colors
$m2m-bg-colors: (
  bg: (
    base: $background,
    l-10: tint-color($background, 10%),
    l-20: tint-color($background, 20%),
    l-30: tint-color($background, 30%),
    l-40: tint-color($background, 40%),
    l-50: tint-color($background, 50%),
    l-60: tint-color($background, 60%),
    l-70: tint-color($background, 70%),
    l-80: tint-color($background, 80%),
    l-90: tint-color($background, 90%),
    d-10: shade-color($background, 10%),
    d-20: shade-color($background, 20%),
    d-30: shade-color($background, 30%),
    d-40: shade-color($background, 40%),
    d-50: shade-color($background, 50%),
    d-60: shade-color($background, 60%),
    d-70: shade-color($background, 70%),
    d-80: shade-color($background, 80%),
    d-90: shade-color($background, 90%)
  ),
);


// ------------------------------------------------ \\
// $COLOR_VARS
// Same as above, but available as variables
// ------------------------------------------------ //

// BACKGROUNDS variants
$background-l-10: tint-color($background, 10%);
$background-l-20: tint-color($background, 20%);
$background-l-30: tint-color($background, 30%);
$background-l-40: tint-color($background, 40%);
$background-l-50: tint-color($background, 50%);
$background-l-60: tint-color($background, 60%);
$background-l-70: tint-color($background, 70%);
$background-l-80: tint-color($background, 80%);
$background-l-90: tint-color($background, 90%);
$background-d-10: shade-color($background, 10%);
$background-d-20: shade-color($background, 20%);
$background-d-30: shade-color($background, 30%);
$background-d-40: shade-color($background, 40%);
$background-d-50: shade-color($background, 50%);
$background-d-60: shade-color($background, 60%);
$background-d-70: shade-color($background, 70%);
$background-d-80: shade-color($background, 80%);
$background-d-90: shade-color($background, 90%);
$heading-l-10: tint-color($heading, 10%);
$heading-l-20: tint-color($heading, 20%);
$heading-l-30: tint-color($heading, 30%);
$heading-l-40: tint-color($heading, 40%);
$heading-l-50: tint-color($heading, 50%);
$heading-l-60: tint-color($heading, 60%);
$heading-l-70: tint-color($heading, 70%);
$heading-l-80: tint-color($heading, 80%);
$heading-l-90: tint-color($heading, 90%);
$heading-d-10: shade-color($heading, 10%);
$heading-d-20: shade-color($heading, 20%);
$heading-d-30: shade-color($heading, 30%);
$heading-d-40: shade-color($heading, 40%);
$heading-d-50: shade-color($heading, 50%);
$heading-d-60: shade-color($heading, 60%);
$heading-d-70: shade-color($heading, 70%);
$heading-d-80: shade-color($heading, 80%);
$heading-d-90: shade-color($heading, 90%);
$link-l-10: tint-color($link, 10%);
$link-l-20: tint-color($link, 20%);
$link-l-30: tint-color($link, 30%);
$link-l-40: tint-color($link, 40%);
$link-l-50: tint-color($link, 50%);
$link-l-60: tint-color($link, 60%);
$link-l-70: tint-color($link, 70%);
$link-l-80: tint-color($link, 80%);
$link-l-90: tint-color($link, 90%);
$link-d-10: shade-color($link, 10%);
$link-d-20: shade-color($link, 20%);
$link-d-30: shade-color($link, 30%);
$link-d-40: shade-color($link, 40%);
$link-d-50: shade-color($link, 50%);
$link-d-60: shade-color($link, 60%);
$link-d-70: shade-color($link, 70%);
$link-d-80: shade-color($link, 80%);
$link-d-90: shade-color($link, 90%);

// Print utility classes
.m2m {
  @include m2m-color($m2m-bg-colors, 'background-color', $separator: '-');
  @include m2m-color($m2m-colors, 'color', $separator: '-');
}
.m2m-bg-alpha {
  background-color: rgba($link-l-60, .25);
}