---
layout: page
title: Archive
date: '2021-11-08 10:27:47'
last_modified_at: '2021-11-08 10:27:41'
description: 'Browse the full archive of selected projects, blog posts by year, categories and tags.'
excerpt: 'Browse the full archive of <a href="#projects">selected projects</a>, <a href="#blog">posts by year</a>, categories and <a href="#blog-tags">tags</a>.'
permalink: '/archive/'
---
{%- assign sounddesign = site.sounddesign | sort: 'date' | reverse -%}
{%- assign webdesign = site.webdesign | sort: 'date' | reverse -%}
{%- assign music = site.music | sort: 'date' | reverse -%}
<h2 class="p-name" id="projects">Projects</h2>
<section class="h-feed">
  <h3 class="p-name" id="sound-design">Sound design</h3>
  <ul class="h-feed list-group list-group-flush fs-5 ps-0 mb-5">
  {% for project in sounddesign %}
    <li class="list-group-item my-0 ps-0">🎧 <a class="p-name u-url m2m-link pe-2" href="{{ project.url }}" title="Read the case study '{{ project.title }}'">{{ project.title }}</a> <kbd><span class="p-category text-uppercase"><strong>{{ project.subtype }}</strong></span></kbd></li>
  {% endfor %}
  </ul>
</section>
<section class="h-feed">
  <h3 class="p-name" id="web-design">Web design</h3>
  <ul class="h-feed list-group list-group-flush fs-5 ps-0 mb-5">
  {% for project in webdesign %}
    <li class="list-group-item my-0 ps-0">👨🏻‍💻 <a class="p-name u-url m2m-link pe-2" href="{{ project.url }}" title="Read the case study '{{ project.title }}'">{{ project.title }}</a> <kbd><span class="p-category text-uppercase"><strong>{{ project.subtype }}</strong></span></kbd></li>
  {% endfor %}
  </ul>
</section>
<section class="h-feed">
  <h3 class="p-name" id="original-music-productions">Original music productions</h3>
  <ul class="h-feed list-group list-group-flush fs-5 ps-0 mb-5">
  {% for project in music %}
    <li class="list-group-item my-0 ps-0">💿 <a class="p-name u-url m2m-link pe-2" href="{{ project.url }}" title="Read the case study '{{ project.title }}'">{{ project.title }}</a> <kbd><span class="p-category text-uppercase"><strong>{{ project.kind }}</strong></span></kbd></li>
  {% endfor %}
  </ul>
</section>
<section class="h-feed">
  <h2 class="p-name" id="blog">Blog</h2>
  <p>I write about:&nbsp;
  {%- assign sorted_cats = site.categories | sort -%}
  {%- for category in sorted_cats -%}
  {%- assign c = category | first -%}
  <a class="p-name u-url m2m-link" href="/blog/category/{{ c | slugify }}/" title="Go to the archive page for: {{ c }}"><span class="initialism p-1">{{ c | upcase }}</span></a>{% unless forloop.last %}, {% endunless %}
  {%- endfor -%}
  </p>
  {%- for post in site.posts -%}
  {%- capture this_year -%}{{ post.date | date: "%Y" }}{%- endcapture -%}
  {%- capture next_year -%}{{ post.previous.date | date: "%Y" }}{%- endcapture -%}
  {%- if forloop.first -%}
  <div class="mb-5">
    <h3 id="{{ this_year }}-ref">{{ this_year }}</h3>
    <ul class="h-feed list-group list-group-flush ps-0 mb-5">
  {%- endif -%}
      <li class="list-group-item my-0 ps-0">📄 <a class="p-name u-url m2m-link" href="{{ post.url }}">{{ post.title }}</a></li>
  {%- if forloop.last -%}
    </ul>
  </div>
</section>
  {%- else -%}
  {%- if this_year != next_year -%}
  </ul>
</div>
<div class="mb-5">
  <h3 id="{{ next_year }}-ref">{{ next_year }}</h3>
  <ul class="h-feed list-group list-group-flush ps-0 mb-5">
  {%- endif -%}
  {%- endif -%}
  {%- endfor -%}
<section class="h-feed">
  <h2 class="p-name" id="blog-tags">Tags</h2>
  <ol class="h-feed list-unstyled list-inline ps-0">
  {%- assign sorted_tags = site.tags | sort -%}
  {%- for tag in sorted_tags -%}
  {%- assign t = tag | first -%}
    <li class="list-inline-item m-2">
      <a class="p-name u-url m2m-link fs-5" href="/blog/tag/{{ t | slugify }}/" title="Go to the archive page for: {{ t }}"><span class="rounded bg-light py-1 px-2">{{ t | upcase }}</span></a>
    </li>
  {%- endfor -%}
  </ol>
</section>