---
layout: blog
title: 'Blog'
date: '2021-11-06 14:11:45'
last_modified_at: '2024-01-09 00:21:57'
description: 'I’ve been running an online journal since March 2002. Whether personal or work-related, I write about what interests me: in particular <a href="/blog/tag/sound-design/">sound design</a>, <a href="/blog/tag/music-production/">music production</a>, <a href="/blog/tag/sustainability/">sustainability</a>, <a href="/blog/tag/web-development/">web development</a> the <a href="/blog/tag/indieweb/">indieweb</a>, and <a href="/blog/tag/personal/">general opinions</a>.'
permalink: /blog/
---
<p>I have a list of <a href="{{ site.url }}/blog/favourites/">favourite posts</a>, and an <a href="{{ site.url }}/sitemap/#tags">archive by tags</a>.</p>
<section>
	<h2>Posts</sup></h2>
	<ul class="h-feed">
	  {%- for post in site.posts %}
	  {%- if post -%}{% assign date = post.date %}
	  {%- elsif page -%}{% assign date = page.date %}
	  {%- endif -%}
	  <li>
	    <time class="dim" datetime="{{ post.date | date_to_xmlschema }}" itemprop="dateCreated">{{ post.date | date: "%-d&nbsp;%b&nbsp;%Y" }}</time>
	    <a href="{{ post.url }}" title="{{ post.description | strip_html }}">{{ post.title }}{% if post.tags contains "sound project" %}&nbsp;<mark class="small">Sound&nbsp;project</mark>{% elsif post.tags contains "dev project" %}&nbsp;<mark class="small">Dev&nbsp;project</mark>{% endif %}{% if post.tags contains "featured" %}&nbsp;<mark class="small">Favourite</mark>{% endif %}</a>
	  </li>
	  {% endfor %}
	</ul>
</section>