---
layout: blog
title: 'Blog'
date: '2021-11-06 14:11:45'
last_modified_at: '2023-08-19 14:01:30'
tldr: false
description: 'I’ve been running an online journal, on and off, since March 2002. For fifteen years, it was published on another domain.'
permalink: /blog/
---
<p class="p-summary">I’ve been running an online journal since March 2002. For fifteen years, it had been published on another domain, exclusively centred around <a href="/blog/tag/personal/">personal thoughts</a>. I now love writing about <a href="/blog/tag/sound-design/">sound design</a>, <a href="/blog/tag/game-audio/">game audio</a>, <a href="/blog/tag/music-production/">music production</a>, <a href="/blog/tag/web-development/">the indie web</a>, <a href="/blog/tag/sustainability/">sustainability</a>.</p>

<aside class="warning">
	<details>
		<summary>Personal favourites</summary>
		{% assign featured = site.posts | where_exp:'post','post.tags contains "featured"' %}
		<ul class="h-feed list-hr-group">
			{% for post in featured %}
			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</details>
</aside>

<div class="h-feed">
	<h2>All posts</h2>
	{%- for post in site.posts %}
	{%- if post -%}{% assign date = post.date %}
	{%- elsif page -%}{% assign date = page.date %}
	{%- endif -%}
	<h3>
		<a class="u-url" title="Read the post ‘{{ post.title }}’" href="{{ post.url }}">{{ post.title }}</a>{% if post.tags contains "work" %}&nbsp;&nbsp;<mark class="small">WORK</mark>{% endif %}{% if post.tags contains "featured" %}&nbsp;&nbsp;<mark class="small">FAVOURITE</mark>{% endif %}
	</h3>
	<p class="dim"><time class="dt-published" datetime="{{ date | date_to_xmlschema }}" itemprop="dateCreated"><em>{{ date | date: "%-d %B %Y" }}</em></time></p>
	<p class="p-summary">{{ post.description }}</p>
	<hr>
	{% endfor %}
</div>