---
layout: blog
title: 'Blog'
date: '2021-11-06 14:11:45'
last_modified_at: '2023-08-19 14:01:30'
description: 'I’ve been running an online journal, on and off, since March 2002. For fifteen years, it was published on another domain.'
permalink: /blog/
---
<aside>
	<h2>Personal favourites</h2>
	{% assign featured = site.posts | where_exp:'post','post.tags contains "featured"' %}
	<table class="table-feed">
		<thead class="visually-hidden">
			<tr>
				<th>Title</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			{% for post in featured %}
			<tr>
				<td><a href="{{ post.url }}">{{ post.title }}</a></td>
				<td>{{ post.date | date: "%-d %b %Y" }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</aside>

<div class="h-feed">
	<h2>All posts</h2>
	{%- for post in site.posts %}
	{%- if post -%}{% assign date = post.date %}
	{%- elsif page -%}{% assign date = page.date %}
	{%- endif -%}
	<h3>
		<a class="u-url" title="Read the post ‘{{ post.title }}’" href="{{ post.url }}">{{ post.title }}</a>{% if post.tags contains "work" %}&nbsp;&nbsp;<mark class="small"><strong>CASE&nbsp;STUDY</strong></mark>{% endif %}{% if post.tags contains "featured" %}&nbsp;&nbsp;<mark class="small"><strong>FAVOURITE</strong></mark>{% endif %}
	</h3>
	<p class="dim"><time class="dt-published" datetime="{{ date | date_to_xmlschema }}" itemprop="dateCreated"><em>{{ date | date: "%-d %B %Y" }}</em></time></p>
	<p class="p-summary">{{ post.description }}</p>
	<hr>
	{% endfor %}
</div>