---
layout: page
title: '‘After 1989’ Press Kit'
date: '2019-11-08 10:28:19'
last_modified_at: '2023-05-09 19:22:28'
description: '30 years after the Berlin Wall, the tale of how a young man escaped Germany in 1945, while his grandson made the other way round, looking for answers that he could only find in 2017.'
robots: 'noindex,follow'
sitemap: false
permalink: /epk/
---
<section>
  <h2 class="visually-hidden">Video teaser</h2>
  <div class="fullscreen">
    <video controls src="{{ site.url }}/assets/videos/music-video-after-1989-teaser.mp4"
      poster="{{ site.url }}/assets/videos/music-video-after-1989-teaser.jpg"
      width="1280">
      Sorry, your browser doesn't support embedded videos, but you can <a href="{{ site.url }}/assets/videos/music-video-after-1989-teaser.mp4">download it</a> and watch it with your favorite video player.
    </video>
    <p>If you prefer, <a href="https://youtu.be/q148xmdgHrY">watch the video on YouTube</a></p>
  </div>
</section>
<section>
  <h2>Biography</h2>
  <p>Music producer and sound designer <a href="/about/">Minutes to Midnight</a> launched in 2019 a music project specifically to tell a real-life tale of imprisonment and liberty. </p>
  <p><a href="{{ site.url }}/blog/after-1989/"><em>After 1989: A Trip To Freedom</em></a> tells the story from the perspective as a grandson, who has only recently uncovered answers to how his grandfather managed to escape from a concentration camp near Berlin in 1945. A modern-day attempt at storytelling, the album is a glimpse into hope.</p>
  {% include bandcamp.liquid size="bc-album" iframecode='<iframe style="border: 0; width: 100%; height: 472px;" src="https://bandcamp.com/EmbeddedPlayer/album=4002304498/size=large/bgcol=ffffff/linkcol=333333/artwork=small/transparent=true/"><a href="https://minutestomidnight.bandcamp.com/album/after-1989-a-trip-to-freedom">After 1989: A Trip To Freedom by Minutes to Midnight</a></iframe>' %}
</section>
<section>
  <h2>Music videos playlist</h2>
  <div class="iframe-container fullscreen">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLR26aYJQa09PleTolHJU9AXACUHWsdu6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</section>
<section>
  <h2>Industry reviews</h2>
  <blockquote>
    <p>The direct and immersive narrative allows history to speak for itself without being preachy or forced. The artist gives us a unique perspective of an outsider who manages to observe a great deal of pain without being directly subjected to it.  Its themes are timely and human, and effortlessly connect with a modern audience. <em>After 1989</em> is an immersive and interesting experiment in storytelling that will leave listeners meditating on its heavy themes.<cite><a href="https://indierepublik.com/music/music-reviews/review-minutes-to-midnight-after-1989-a-journey-of-choices-consequences/">Indierepublik Berlin</a></cite></p>
  </blockquote>
  <blockquote>
    <p>The project is very impressive both in conception and execution. I love the way you’ve chosen to tell the story, the visuals, and the juxtaposition of the two Berlin experiences. It definitely reminds me a bit of Pink Floyd, both in the scope of the concept album but also the blues-influence that runs through the music and informs the whole thing stylistically. Congratulations on creating a work that tackles an immense subject and brings a great deal of emotional depth and insight into it.<cite><a href="https://online.berklee.edu/faculty/eric-beall">Eric Beall</a>, Berklee College of Music</cite></p>
  </blockquote>
</section>
<section>
  <h2>Press photos</h2>
  <div class="fullscreen">
  {% include figure.liquid image='gallery-press/a_in-cambridge.jpg' alt='Simone Silvestroni in Cambridge, standing, with the Warwick Thumb Bass' width='1600' height='1066' caption='Standing, with a Warwick Thumb Bass' %}
  </div>
  <div class="fullscreen">
  {% include figure.liquid image='gallery-press/b_in-cambridge.jpg' alt='Simone Silvestroni, playing the Warwick Thumb Bass' width='1600' height='1066' caption='Playing the Warwick Thumb Bass' %}
  </div>
  <div class="fullscreen">
  {% include figure.liquid image='gallery-press/c_in-the-studio.jpg' alt='In the studio (Cambridge)' width='1600' height='1066' caption='In the studio (Cambridge)' %}
  </div>
  <div class="fullscreen">
  {% include figure.liquid image='gallery-press/d_bass-strap.jpg' alt='Bass strap with West Berlin pin attached' width='1600' height='1066' caption='Bass strap with West Berlin pin attached' %}
  </div>
  <div class="fullscreen">
  {% include figure.liquid image='gallery-press/e_in-the-studio.jpg' alt='In the studio (Cambrdige), playing a fretless Fender Jazz bass' width='1600' height='1066' caption='In the studio (Cambrdige), playing a fretless Fender Jazz bass' %}
  </div>
</section>