---
layout: page
title: Sitemap
date: '2023-03-31 12:22:58'
last_modified_at: '2023-03-31 12:23:01'
description: 'A full map of the website, including pages, blog posts, case studies and tags.'
permalink: '/sitemap/'
---
<section>
  <h2>Pages <sup><small>({{ site.pages | where:"layout", "page" | size }})</small></sup></h2>
  {%- assign pages = site.pages | where:"layout", "page" | sort: 'title' %}
  {%- for page in pages %}
  {%- unless page.sitemap == false %}
  <ul>
    <li>
      <a href="{{ site.url }}{{ page.url }}"><strong>{{ page.title }}</strong></a><br>
      {% unless page.title == 'Sitemap' %}
      <small class="dim">Updated <time>{{ page.last_modified_at | date: "%-d %B %Y" }}</time></small>
      {% endunless %}
    </li>
  </ul>
  {%- endunless -%}
  {% endfor -%}
</section>

<section>
  <h2>Posts <sup><small>({{ site.posts | size }})</small></sup></h2>
  {%- assign blog = site.documents | where:"layout", "post" | sort: 'date' | reverse %}
  {%- for post in blog %}
  <ul>
    <li>
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>{% if post.tags contains "case study" %}&nbsp;&nbsp;<mark><small>CASE STUDY</small></mark>{% endif %}{% if post.tags contains "popular" %}&nbsp;&nbsp;<mark><small>POPULAR</small></mark>{% endif %}<br>
      <small class="dim"><time class="dt-published" datetime="{{ date | date_to_xmlschema }}" itemprop="dateCreated">{{ post.date | date: "%-d %B %Y" }}</time></small>
    </li>
  </ul>
  {%- endfor -%}
</section>

<section>
  <h2>Tags <sup><small>({{ site.tags | size }})</small></sup></h2>
  {% assign sorted_tags = site.tags | sort %}
  {%- for tag in sorted_tags -%}
  {%- assign t = tag | first %}
  <ul>
    <li>
      <a href="{{ site.url }}/blog/tag/{{ t | slugify }}/">{{ t | upcase }}</a>
    </li>
  </ul>
  {%- endfor %}
</section>