---
layout: page
title: 'Sound Design &amp; Music Production'
date: '2021-11-08 10:51:46'
last_modified_at: '2024-04-06 16:31:08'
summary: 'A professional bass player and composer by trade, a keen eye for details helped me becoming a game audio sound designer, and specialising as a mix and master engineer.'
permalink: /sound-design/
---
{%- assign Production = site.posts | where_exp:'post','post.title contains "Production" and post.tags contains "sound project"' %}
{%- assign Mix = site.posts | where_exp:'post','post.title contains "Mix" and post.tags contains "sound project"' %}
{%- assign Master = site.posts | where_exp:'post','post.title contains "Master" and post.tags contains "sound project"' %}
{%- assign Strings = site.posts | where_exp:'post','post.title contains "Strings production" and post.tags contains "sound project"' %}
{%- assign Workflow = site.posts | where_exp:'post','post.tags contains "workflow" and post.tags contains "sound project"' %}
{%- assign MusicProduction = Production | concat: Mix | concat: Master | concat: Strings | concat: Workflow | sort: 'date' | reverse %}
{%- assign SoundDesign = site.posts | where_exp:'post','post.tags contains "sound design" and post.tags contains "sound project"' %}
{%- assign OriginalMusic = site.posts | where_exp:'post','post.title contains "Release" and post.tags contains "sound project"' %}
{%- assign Bass = site.posts | where_exp:'post','post.title contains "Bass" and post.tags contains "sound project"' %}
<section>
	<h2>Relevant case studies</h2>
	<ul class="list-hr">
		{%- for item in site.data.nav-work-sound.menu %}
		<li><a href="{{ item.link }}">{{ item.name }}</a></li>
		{%- endfor %}
	</ul>
</section>
<section>
	<h2 id="original-music">Original music</h2>
	{%- for post in OriginalMusic %}
	{% include article-case-studies.liquid %}
	{%- endfor %}
</section>
<section>
	<h2 id="music-production">Music production</h2>
	{%- for post in MusicProduction %}
	{% include article-case-studies.liquid %}
	{%- endfor %}
</section>
<section>
	<h2 id="bass">Bass</h2>
	{%- for post in Bass %}
	{% include article-case-studies.liquid %}
	{%- endfor %}
</section>
<section>
	<h2 id="sound-design">Sound design</h2>
	{%- for post in SoundDesign %}
	{% include article-case-studies.liquid %}
	{%- endfor %}
	<hr>
	<p><a href="https://sound.minutestomidnight.co.uk" class="cta">Full sound design resume</a></p>
</section>