# 404
ErrorDocument 404 /404.html

# Content security policy
Header add X-Frame-Options "SAMEORIGIN"
Header add X-XSS-Protection "1; mode=block"
Header add X-Content-Type-Options "nosniff"
Header add Referrer-Policy "no-referrer"
Header add Strict-Transport-Security "max-age=31536000;includeSubDomains;preload"
Header add Content-Security-Policy "default-src 'self';style-src 'self' 'unsafe-inline' https://minutestomidnight.co.uk;img-src 'self' https://minutestomidnight.co.uk;script-src 'self' https://s4.bcbits.com;frame-src https://yewtu.be/embed/ https://www.youtube-nocookie.com/embed/ https://bandcamp.com/EmbeddedPlayer/ https://player-widget.mixcloud.com/;object-src 'self';frame-ancestors 'self' https://ui.dev/amiresponsive"
Header add Permissions-Policy "accelerometer=(self),autoplay=(self),camera=(self),encrypted-media=(self),fullscreen=(self),geolocation=(self),gyroscope=(self),magnetometer=(self),microphone=(self),midi=(self),payment=(self),usb=(self),picture-in-picture=(self 'https://yewtu.be/embed/'' 'https://www.youtube-nocookie.com/embed/')"

# Caching
<IfModule mod_expires.c>
	ExpiresActive On
	# Images
	ExpiresByType image/jpeg "access plus 1 year"
	ExpiresByType image/gif "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType image/webp "access plus 1 year"
	ExpiresByType image/svg+xml "access plus 1 year"
	ExpiresByType image/x-icon "access plus 1 year"
	# Video
	ExpiresByType video/webm "access plus 1 year"
	ExpiresByType video/mp4 "access plus 1 year"
	ExpiresByType video/mpeg "access plus 1 year"
	# Fonts
	ExpiresByType font/woff "access plus 1 year"
	ExpiresByType font/woff2 "access plus 1 year"
	ExpiresByType application/font-woff "access plus 1 year"
	ExpiresByType application/font-woff2 "access plus 1 year"
	# CSS, JavaScript
	ExpiresByType text/css "access plus 1 year"
	ExpiresByType text/javascript "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	# Others
	ExpiresByType application/pdf "access plus 1 year"
</IfModule>

# Redirects
Redirect 200 /.well-known/avatar /.well-known/avatar-m2m.png
Redirect 301 /a-little-boy-that-santa-claus-forgot-on-a-b-29/ /blog/a-little-boy-that-santa-claus-forgot-on-a-b-29/
Redirect 301 /after-1989-love-field-official-music-video/ /blog/love-field-official-video/
Redirect 301 /after-1989-13-days-official-video-cuban-crisis/ /blog/13-days-official-video/
Redirect 301 /after-1989-13-days-official-video/ /blog/13-days-official-video/
Redirect 301 /after-1989-intro-teaser-video/ /blog/after-1989-teaser/
Redirect 301 /after1989-intro-teaser-video/ /blog/after-1989-teaser/
Redirect 301 /after-1989-skinny-kid-official-music-video/ /blog/skinny-kid-escape-from-concentration-camp/
Redirect 301 /after-1989-a-trip-to-freedom/ /blog/after-1989/
Redirect 301 /after-1989-concept-album-about-escaping-berlin/ /blog/after-1989/
Redirect 301 /after-1989-a-trip-to-freedom-links/ /blog/after-1989/
Redirect 301 /after-1989-a-trip-to-freedom-digital-streaming-links/ /blog/after-1989/
Redirect 301 /after-1989-album-reviews/ /blog/after-1989-reviews/
Redirect 301 /after-1989-in-depth-review/ /blog/after-1989-reviews/
Redirect 301 /after-1989-a-trip-to-freedom/after-1989-in-depth-review/ /blog/after-1989-reviews/
Redirect 301 /after-1989-anniversary/ /blog/after-1989/
Redirect 301 /after-1989-anniversary-discount/ /blog/after-1989/
Redirect 301 /after-1989-anniversary-new-official-music-video/ /blog/after-1989-anniversary-new-official-music-video/
Redirect 301 /archive/ /sitemap/
Redirect 301 /backup-and-audio-archival/ /blog/backup-and-audio-archival/
Redirect 301 /bass-tracks/ /sound-design/
Redirect 301 /berlin-91/ /blog/berlin-91/
Redirect 301 /blog/2020/08/06/a-little-boy-that-santa-claus-forgot-on-a-b-29/ /blog/a-little-boy-that-santa-claus-forgot-onRedirect -a-b-29/
Redirect 301 /blog/note-about-michael-c-hall/ /blog/michael-c-hall/
Redirect 301 /blog/note-about-meta/ /blog/about-meta/
Redirect 301 /blog/back-to-the-future-leaving-the-uk/ /blog/leaving-the-uk/
Redirect 301 /blog/skinny-kid-escape-from-concentration-camp/ /blog/skinny-kid-song-backstory/
Redirect 301 /blog/callum-gardner-debut-single/ /blog/callum-gardner-debut-single/
Redirect 301 /blog/ember-rev-premonition-and-ruin/ /blog/premonition-and-ruin/
Redirect 301 /blog/the-die-is-cast-on-spotify/ /blog/the-die-is-cast/
Redirect 301 /blog/a-blogroll-in-2022/ /blogroll/
Redirect 301 /blog/minutes-to-midnight-duo/ /
Redirect 301 /blog/non-sai-chi-sono-remix-out/ /blog/non-sai-chi-sono/
Redirect 301 /blog/the-die-is-cast-ep/ /blog/the-die-is-cast/
Redirect 301 /blog/hidden-music-dan-ecclestone/ /blog/hidden-music/
Redirect 301 /blog/popular/ /blog/
Redirect 301 /blog/reaper-daw-subprojects/ /blog/mix-ember-rev-reaper-subprojects/
Redirect 301 /blog/personal-manifesto/ /personal-manifesto/
Redirect 301 /blog/photogallery/ /blog/responsive-photogallery-carousel-css/
Redirect 301 /blog/case-studies/ /blog/
Redirect 301 /blog/website-redesign/ /blog/website-minutes-to-midnight/
Redirect 301 /blog/michael-c-hall/ /blog/
Redirect 301 /links/ /blogroll/
Redirect 301 /credits/ /colophon/
Redirect 301 /daw-from-logic-to-pro-tools-to-reaper-part-3/ /blog/daw-from-logic-to-pro-tools-to-reaper-part-3/
Redirect 301 /daw-from-logic-to-pro-tools-to-reaper-part-2/ /blog/daw-from-logic-to-pro-tools-to-reaper-part-2/
Redirect 301 /daw-from-logic-to-pro-tools-to-reaper-part-1/ /blog/daw-from-logic-to-pro-tools-to-reaper-part-1/
Redirect 301 /efficient-productivity-for-music-professionals/ /blog/project-management/
Redirect 301 /escape-from-social-media/ /blog/escape-from-social-media/
Redirect 301 /electronic-press-kit/ /epk/
Redirect 301 /ethics/ /personal-manifesto/
Redirect 301 /files/ /
Redirect 301 /follow/ /contact/
Redirect 301 /gallery/ /about/
Redirect 301 /how-i-use-internet/ /blog/how-i-use-internet/
Redirect 301 /more-link/ /sitemap/
Redirect 301 /more-links/ /sitemap/
Redirect 301 /music/ /blog/
Redirect 301 /music/after-1989/ /blog/after-1989/
Redirect 301 /music/after-1989-demos/ /blog/after-1989-demos/
Redirect 301 /music/non-sai-chi-sono/ /blog/non-sai-chi-sono/
Redirect 301 /music/the-die-is-cast/ /blog/the-die-is-cast/
Redirect 301 /news/ /blog/
Redirect 301 /manifesto/ /personal-manifesto/
Redirect 301 /newsletter/ /blog/
Redirect 301 /newsletter.xml /feed.xml
Redirect 301 /pgp/ /contact/
Redirect 301 /photos/ /about/
Redirect 301 /portfolio/ /blog/
Redirect 301 /privacy-policy/ /colophon/
Redirect 301 /press-photos/ /about/
Redirect 301 /production-mix/ /sound-design/
Redirect 301 /projects/ /blog/
Redirect 301 /projects/sound-design/ /sound-design/
Redirect 301 /projects/sound-design/car-city-cartoon/ /blog/car-city-cartoon/
Redirect 301 /projects/sound-design/drums-restoration/ /blog/drums-restoration/
Redirect 301 /projects/sound-design/console-game-ruff-trigger/ /blog/ruff-trigger-playstation2-game/
Redirect 301 /projects/sound-design/producing-bass-remotely/ /blog/producing-bass-remotely/
Redirect 301 /projects/web-design/responsive-photogallery-carousel/ /blog/responsive-photogallery-carousel-css/
Redirect 301 /projects/project-management/ /blog/project-management/
Redirect 301 /project-management/ /blog/project-management/
Redirect 301 /projects/sound-design/vocal-editing/ /blog/vocal-editing/
Redirect 301 /resume/ /about/
Redirect 301 /review-skinny-kid-novamusic-blog/ /blog/review-skinny-kid-novamusic/
Redirect 301 /rss/ /feed.xml
Redirect 301 /skinny-kid/ /blog/skinny-kid-song-backstory/
Redirect 301 /sound-design/ /sound-design/
Redirect 301 /the-die-is-cast-ep/ /blog/the-die-is-cast-ep/
Redirect 301 /work/ /blog/
Redirect 301 /work/music-production/ /sound-design/
Redirect 301 /work/music/ /sound-design/
Redirect 301 /work/bass/ /sound-design/
Redirect 301 /work/endorsements/ /blog/
Redirect 301 /work/project-management/ /blog/project-management/
Redirect 301 /work/sound-design/ /sound-design/
Redirect 301 /work/sound-design/after-1989-reviews/ /blog/after-1989-reviews/
Redirect 301 /work/sound-design/car-city-cartoon/ /blog/car-city-cartoon/
Redirect 301 /work/sound-design/drums-restoration/ /blog/drums-restoration/
Redirect 301 /work/sound-design/ruff-trigger-playstation2-game/ /blog/ruff-trigger-playstation2-game/
Redirect 301 /work/sound-design/console-game-ruff-trigger/ /blog/ruff-trigger-playstation2-game/
Redirect 301 /work/sound-design/non-sai-chi-sono/ /blog/non-sai-chi-sono/
Redirect 301 /work/sound-design/premonition-and-ruin/ /blog/premonition-and-ruin/
Redirect 301 /work/music-production/premonition-and-ruin/ /blog/premonition-and-ruin/
Redirect 301 /work/sound-design/producing-bass-remotely/ /blog/producing-bass-remotely/
Redirect 301 /work/sound-design/after-1989/ /blog/after-1989/
Redirect 301 /work/sound-design/after-1989-demos/ /blog/after-1989-demos/
Redirect 301 /work/sound-design/the-die-is-cast/ /blog/the-die-is-cast/
Redirect 301 /work/original-music-productions/after-1989/ /blog/after-1989/
Redirect 301 /work/original-music-productions/after-1989-demos/ /blog/after-1989-demos/
Redirect 301 /work/original-music-productions/the-die-is-cast/ /blog/the-die-is-cast/
Redirect 301 /work/original-music-productions/non-sai-chi-sono/ /blog/non-sai-chi-sono/
Redirect 301 /work/music/the-die-is-cast/ /blog/the-die-is-cast/
Redirect 301 /work/music/non-sai-chi-sono/ /blog/non-sai-chi-sono/
Redirect 301 /work/music/after-1989/ /blog/after-1989/
Redirect 301 /work/music/after-1989-demos/ /blog/after-1989-demos/
Redirect 301 /work/game-audio/console-game-ruff-trigger/ /blog/ruff-trigger-playstation2-game/
Redirect 301 /work/musicproduction/producing-bass-remotely/ /blog/producing-bass-remotely/
Redirect 301 /work/musicproduction/premonition-and-ruin/ /blog/premonition-and-ruin/
Redirect 301 /work/musicproduction/callum-gardner-debut-single/ /blog/callum-gardner-debut-single/
Redirect 301 /work/music-production/callum-gardner-debut-single/ /blog/callum-gardner-debut-single/
Redirect 301 /work/sounddesign/car-city-cartoon/ /blog/car-city-cartoon/
Redirect 301 /work/sound-design/car-city-cartoon/ /blog/car-city-cartoon/
Redirect 301 /work/sounddesign/vocal-editing/ /blog/vocal-editing/
Redirect 301 /work/sound-design/vocal-editing/ /blog/vocal-editing/
Redirect 301 /work/sounddesign/drums-restoration/ /blog/drums-restoration/
Redirect 301 /work/music-production/ /sound-design/
Redirect 301 /work/musicproduction/minutes-to-midnight-productions/ /sound-design/
Redirect 301 /work/music-production/minutes-to-midnight-productions/ /sound-design/
Redirect 301 /work/music-production/producing-bass-remotely/ /blog/producing-bass-remotely/
Redirect 301 /work/bass/producing-bass-remotely/ /blog/producing-bass-remotely/
Redirect 301 /work/web-design/ /web-design/
Redirect 301 /work/web-design/minutes-to-midnight/ /blog/website-minutes-to-midnight/
Redirect 301 /work/web-design/no-slack-day/ /blog/website-noslack-day/
Redirect 301 /work/web-design/reevoo/ /blog/reevoo-corporate-website/
Redirect 301 /work/web-design/silvia-maggi-design/ /blog/silviamaggidesign-website/
Redirect 301 /work/web-design/unicredit/ /blog/unicreditbank/
Redirect 301 /work/web-design/responsive-photogallery-carousel/ /blog/responsive-photogallery-carousel-css/
Redirect 301 /work/music-production/hidden-music/ /blog/hidden-music/
Redirect 301 /work/music-production/mix-ember-rev-reaper-subprojects/ /blog/mix-ember-rev-reaper-subprojects/
Redirect 301 /work/dev/build-a-human-readable-rss-with-jekyll/ /blog/build-a-human-readable-rss-with-jekyll/Redirect 