---
layout: default
title: Page not found
date: '2021-11-08 10:58:32'
last_modified_at: '2021-11-08 10:58:35'
robots: 'noindex,follow'
sitemap: false
permalink: /404.html
---
<article class="m2m-entry mb-5">
  <h1 class="mt-4 mb-0 text-center">{{ page.title }}</h1>
  {% include pattern-figure.html image="/assets/images/zed.png" width="1024" height="375" %}
  <p class="lead">Go back to the <a href="/" title="go back to the Homepage">homepage</a>, or search:</p>
  {% include pattern-search.html %}
</article>