---
title: homepage
date: 2021-11-06 13:41:57
last_modified_at: 2021-11-06 13:42:07
---
<section class="intro mb-2 mb-md-5 pb-3">
  <div class="row">
    <div class="col-md-11 mx-auto pt-3 pt-md-5 pb-3">
      <div class="row d-flex align-items-center">
        <div class="mx-auto text-center mb-2 mb-md-5 pb-4">
          <span class="display-4 m2m-serif d-inline-block px-4 py-2 text-white m2m-text-rotate m2m-bg-d-70">{{ site.brand.smd_tagline }}</span>
        </div>
        <div class="col-md-3 d-flex justify-content-md-end">
          <a class="mx-auto" href="https://silviamaggidesign.com/about-silviamaggi-ux-designer/">
            {% include pattern-avatar.html alt="Portrait of Silvia Maggi" width="120" height="120" %}
          </a>
        </div>
        <div class="col-md-9">
          <h1 class="h4 m2m-sans m2m-unmask-texture text-center text-md-start mt-3 mt-md-0 mb-0">{{ site.brand.smd_pitch }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
{% include pattern-latest-posts.html %}