<div id="breadcrumbs" class="d-none d-md-block pt-4 pb-2">
  <nav class="small" style="--bs-breadcrumb-divider: '→'" aria-label="breadcrumb">
    <ol class="breadcrumb initialism">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
      <li class="breadcrumb-item fw-bold"><strong>{{ page.title }}</strong></li>
      {% else %}
      {% unless page.url contains '/page/' %}
      <li class="breadcrumb-item">
        <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'category/','archive/' | replace:'tag/','archive/' }}{% endfor %}">{{ crumb | replace:'-',' ' | replace:'category','archive' | replace:'tag','archive' | remove:'.html' | capitalize }}</a>
      </li>
      {% endunless %}
      {% endif %}
    {% endfor %}
    </ol>
  </nav>
</div>