{%- assign page = project -%}
<div class="col m2m-transition-opacity-03s">
  <div class="card h-100">
    {%- if project.featimage == true -%}
    <img class="w-100" src="/assets/images/thumb-{{ project.title | downcase | replace: " ","-" | append: ".jpg" }}" alt="{{ project.title }}" width="350" height="350">
    {%- endif -%}
    <div class="card-body text-center">
      <h4 class="h1 fs-4 p-name m2m-sans text-uppercase my-3">{{ project.title }} {% if project.type == "music" %}({{ project.kind }}){% endif -%}</h4>
      <p class="p-summary card-text text-start fs-5 lh-sm">
        {%- if project.type == "web design" -%}
          {{ project.description | strip_html }}
        {%- else -%}
          {{ project.excerpt | strip_html }}
        {%- endif -%}
      </p>
    </div>
    <div class="card-footer text-center pb-3">
      <a class="u-url stretched-link btn btn-md btn-m2m btn-m2m-cta text-decoration-none fw-bold" href="{{ project.url }}" title="Check out {{ project.title }}"><span class="fs-6 initialism"><strong>Read the case study</strong></span></a>
    </div>
  </div>
</div>