{%- assign page = project -%}
<div class="col m2m-transition-opacity-03s">
  <div class="card h-100">
    {%- if project.featimage == true -%}
    <picture>
      <source srcset="/assets/images/thumb-{{ project.title | downcase | replace: " ","-" | append: ".webp" }}" type="image/webp">
      <source srcset="/assets/images/thumb-{{ project.title | downcase | replace: " ","-" | append: ".jpg" }}" type="image/jpeg">
      <img src="/assets/images/thumb-{{ project.title | downcase | replace: " ","-" | append: ".jpg" }}" alt="{{ project.title }}" width="600" height="600">
    </picture>
    {%- endif -%}
    <div class="card-body">
      <h3 class="p-name m2m-sans text-center my-3">{{ project.title }} ({{ project.kind }})</h3>
      <p class="p-summary card-text fs-5 lh-sm px-4 py-2">
        {%- if project.type == "web design" -%}
          {{ project.description | strip_html }}
        {%- else -%}
          {{ project.excerpt | strip_html }}
        {%- endif -%}
      </p>
    </div>
    <div class="card-footer text-center pb-3">
      <p>
        <a class="u-url stretched-link" href="{{ project.url }}" title="Check out {{ project.title }}"><strong>About the project</strong></a> ➡️
      </p>
    </div>
  </div>
</div>