{%- assign page = casestudy -%}
<div class="col m2m-transition-opacity-03s">
  <div class="card h-100">
    {%- if casestudy.featimage == true -%}
    <img class="w-100" src="/assets/images/thumb-{{ casestudy.title | downcase | replace: " ","-" | append: ".jpg" }}" alt="{{ casestudy.title }}" width="350" height="350">
    {%- endif -%}
    <div class="card-body text-center">
      <h4 class="h1 fs-4 p-name m2m-sans text-uppercase my-3">{{ casestudy.title }} {% if casestudy.type == "sound design" and casestudy.subtype == "original music" %}({{ casestudy.kind }}){% endif -%}</h4>
      <p class="p-summary card-text text-start fs-5 lh-sm">
        {%- if casestudy.type == "web design" -%}
          {{ casestudy.description | strip_html }}
        {%- else -%}
          {{ casestudy.excerpt | strip_html }}
        {%- endif -%}
      </p>
    </div>
    <div class="card-footer text-center pb-3">
      <a class="u-url stretched-link btn btn-md btn-m2m btn-m2m-cta text-decoration-none fw-bold" href="{{ casestudy.url }}" title="Check out {{ casestudy.title }}"><span class="fs-6 initialism"><strong>Read the case study</strong></span></a>
    </div>
  </div>
</div>