<div class="visually-hidden">
  <span class="p-author h-card">
    <img class="u-photo" src="{{ site.url }}/assets/images/minutestomidnight-avatar-uphoto.png" alt="Minutes to Midnight" width="48" height="48">
    <a class="p-name" href="{{ site.url }}" rel="author"><strong>Simone Silvestroni</strong></a>
    <p class="p-note">A digital polymath, I've been working as a sound and web designer for more than 25 years.</p>
    <p class="p-org">Minutes to Midnight</p>
    <p class="u-email"><a href="mailto:contact@minutestomidnight.co.uk">contact@minutestomidnight.co.uk</a></p>
    <p class="p-locality">Milan</p>
    <p class="p-country-name">Italy</p>
  </span>
  <a class="u-url" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>
  <a rel="me" href="https://github.com/minutes2midnight/">Github</a>
  <a rel="me" href="https://www.linkedin.com/in/minutes2mid/">LinkedIn</a>
  <a rel="me" href="https://minutestomidnight.bandcamp.com/">Bandcamp</a>
  <a rel="me" href="https://soundcloud.com/minutes2mid">Soundcloud</a>
  <a rel="me" href="https://open.spotify.com/artist/250igOmtd9HCpGyXDWUcl9?si=d9t8bLC2QfG8iT1R3y9CAw">Spotify</a>
  <a rel="me" href="https://www.youtube.com/channel/UCXO3ZbalCLwCZwHk_UkDBHg/">YouTube</a>
  <a rel="me" href="https://www.flickr.com/photos/minutes2midnight/">Flickr</a>
  <a rel="me" href="https://oreganodangereux.wordpress.com">WordPress (Italian)</a>
  <a rel="me" href="https://minutesto00.wordpress.com">WordPress</a>
  <a rel="me" href="https://medium.com/@minutestomidnight">Medium</a>
</div>