<div class="d-none">
  <div class="p-author h-card">
    <img class="u-photo" src="{{ site.url }}/assets/images/minutestomidnight-avatar-uphoto.png" alt="{{ site.title }}" width="48" height="48">
    <a class="p-name" href="{{ site.url }}" rel="author"><strong>{{ site.author.name }}</strong></a>
    <p class="p-note">{{ site.description }}</p>
    <p class="p-org">{{ site.title }}</p>
    <p class="u-email"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
    <p class="p-locality">Milan</p>
    <p class="p-country-name">Italy</p>
  </div>
  <a class="u-url" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a>
  <a rel="me" href="https://github.com/simonesilvestroni/">Github</a>
  <a rel="me" href="https://www.linkedin.com/in/simonesilvestroni/">LinkedIn</a>
  <a rel="me" href="https://minutestomidnight.bandcamp.com/">Bandcamp</a>
  <a rel="me" href="https://soundcloud.com/simonesilvestroni">Soundcloud</a>
  <a rel="me" href="https://open.spotify.com/artist/250igOmtd9HCpGyXDWUcl9?si=d9t8bLC2QfG8iT1R3y9CAw">Spotify</a>
  <a rel="me" href="https://www.youtube.com/@m2m">YouTube</a>
  <a rel="me" href="https://indieweb.social/@m2m">Mastodon</a>
  <a rel="me" href="https://oreganodangereux.wordpress.com">WordPress (Italian)</a>
  <a rel="me" href="https://minutestomidnight.medium.com/">Medium</a>
</div>