<span class="p-author h-card">
  <img class="u-photo" src="{{ site.url }}/assets/images/minutestomidnight-avatar-uphoto.png" alt="Minutes to Midnight's avatar" width="48" height="48">
  <a class="p-name" href="{{ site.url }}" rel="author"><strong>Simone Silvestroni</strong></a>
</span>
<a class="u-url u-uid" href="{{ site.url }}{{ page.url }}" title="Permalink">Permalink: <em>{{ page.title }}</em></a>
{% unless page.is_post %}
{%- if page.syndication == true %}
  {% for s in page.syndicate -%}
  <span><a rel="syndication" class="u-syndication" href="{{ s.url }}">{{ s.name }}</a></span>
  {% endfor -%}
{% endif -%}
{% endunless %}
<data class="p-org" value="Minutes to Midnight"></data>
<data class="u-email" rel="me" value="mailto:contact@minutestomidnight.co.uk"></data>
<data rel="me" value="https://minutestomidnight.bandcamp.com/"></data>
<data rel="me" value="https://www.youtube.com/channel/UCXO3ZbalCLwCZwHk_UkDBHg/"></data>
<data rel="me" value="https://open.spotify.com/artist/250igOmtd9HCpGyXDWUcl9?si=d9t8bLC2QfG8iT1R3y9CAw"></data>
<data rel="me" value="https://soundcloud.com/minutes2mid"></data>
<data rel="me" value="https://www.linkedin.com/in/minutes2mid/"></data>
<data rel="me" value="https://github.com/minutes2midnight/"></data>
<data rel="me" value="https://indieweb.social/@m2m"></data>
<data rel="me" value="https://www.flickr.com/photos/minutes2midnight/"></data>
<data rel="me" value="https://oreganodangereux.wordpress.com"></data>
<data rel="me" value="https://minutesto00.wordpress.com"></data>
<data rel="me" value="https://minutestomidnight.medium.com/"></data>