<div id="navigation-main">
  {%- comment -%}
  // ------------------------------------------------ \\
  // Navigation on large devices
  // ------------------------------------------------ //
  {%- endcomment %}
  <ul class="nav flex-column mb-0" aria-label="Navigation">
    <li class="nav-item mb-4">
      <span class="d-block fs-4 text-uppercase m2m-letter-spacing-w1 fw-bold mb-2"><strong>About</strong></span>
      <span class="fs-5"><a class="fw-bold{% if page.url contains '/about/' %} m2m-current{% endif %}" href="/about/"><strong>Minutes to Midnight</strong></a> is my online brand name. After 9 years in the UK, I&rsquo;m currently freelancing in Milan. I&rsquo;ve been keeping a <a class="fw-bold{% if page.url contains '/blog/' %} m2m-current{% endif %}" href="/blog/"><strong>blog</strong></a> since 2002.</span>
    </li>
    <li class="nav-item mb-4">
      <span class="d-block fs-4 text-uppercase m2m-letter-spacing-w1 fw-bold mb-2"><strong>Work</strong></span>
      <span class="fs-5">As a cross-disciplinary polymath, I’ve been juggling between design and audio since the early 1990s. Check out my <a class="fw-bold{% if page.url contains '/work/' %} m2m-current{% endif %}" href="/work/"><strong>work</strong></a> as a sound and web designer.</span>
    </li>
    <li class="nav-item mb-4">
      <span class="d-block fs-4 text-uppercase m2m-letter-spacing-w1 fw-bold mb-2"><strong>Contact</strong></span>
      <span class="fs-5">Interested in hiring me for your next project, or just want to connect? <a class="fw-bold{% if page.url contains '/contact/' %} m2m-current{% endif %}" href="/contact/"><strong>Get in touch</strong></a>, including through (some) social media and my irregular newsletter.</span>
    </li>
  </ul>
</div>