<div id="navigation-main">
  {% comment %}
  // ------------------------------------------------ \\
  // Navigation on small devices
  // ------------------------------------------------ //
  {% endcomment %}
  <ul class="nav nav-small justify-content-center" aria-label="Navigation">
    {% for item in site.data.nav-site -%}
    <li class="nav-item">
      <a class="nav-link fs-6 text-uppercase fw-bold{% if page.url contains item.link %} m2m-current{% endif %}" href="{{ item.link }}"><strong>{{ item.name }}</strong></a>
    </li>
    {% endfor -%}
  </ul>
  {% comment %}
  // ------------------------------------------------ \\
  // Navigation on large devices
  // ------------------------------------------------ //
  {% endcomment %}
  <ul class="nav nav-large flex-column mt-4 mb-0" aria-label="Navigation">
    <li class="nav-item mb-4">
      <span class="d-block fs-5 text-uppercase m2m-letter-spacing-w1 text-center fw-bold"><strong>About</strong></span>
      <span><em>Minutes to Midnight</em> is my online <a class="m2m-link" href="/about/">brand name</a>. After 9 years in the UK, I&rsquo;m currently freelancing in Milan. I&rsquo;ve been keeping a <a class="m2m-link text-uppercase fw-bold" href="/blog/"><strong>blog</strong></a> since 2002. Find everything through the <a class="m2m-link text-uppercase fw-bold" href="/archive/"><strong>archive</strong></a>.</span>
    </li>
    <li class="nav-item mb-4">
      <span class="d-block fs-5 text-uppercase m2m-letter-spacing-w1 text-center fw-bold" href="#"><strong>Work</strong></span>
      <span>As a cross-disciplinary polymath, I’ve been juggling between design and audio since the early 1990s. Check out my <a class="m2m-link text-uppercase fw-bold" href="/work/"><strong>work</strong></a> as a sound and web designer.</span>
    </li>
    <li class="nav-item mb-4">
      <span class="d-block fs-5 text-uppercase m2m-letter-spacing-w1 text-center fw-bold" href="#"><strong>Contact</strong></span>
      <span>Interested in hiring me for your next project, or just want to connect? Find how to <a class="m2m-link text-uppercase fw-bold" href="/contact/"><strong>get in touch</strong></a>, including (some) social media and my irregular newsletter.</span>
    </li>
  </ul>
</div>