<article class="h-entry m2m-entry my-5 py-3">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <span class="p-category text-uppercase initialism rounded btn-label-m2m-bg py-1 px-2">{{ category | upcase | replace:"-"," " }}</span>
  {% endfor %}
  <h2 class="fs-3 p-name my-4">{{ post.title }}</h2>
  {%- if post -%}
    {% assign date = post.date %}
  {%- elsif page -%}
    {% assign date = page.date %}
  {%- endif -%}
  <p class="mb-3">
    <span class="visually-hidden">By <span class="p-author h-card">Simone Silvestroni</span></span>
    <time class="dt-published m2m-font-micro" datetime="{{ date | date_to_xmlschema }}" itemprop="dateCreated">{{ date | date: "%-d %B %Y" }}</time>
  </p>
  <div class="e-content">
    <p class="p-summary text-start mt-2">{{ post.excerpt | markdownify | strip_html }}</p>
    <a class="btn-cta-m2m-bg d-inline-block text-decoration-none rounded my-2 px-2 py-1" href="{{ post.url }}" title="Read the post"><strong>Read the post →</strong></a>
  </div>
</article>
<hr class="visually-hidden">
