<div class="newsletter-subscription m2m-bg-alpha rounded mt-4 p-4">
  <form action="/download/success/" name="ebookDownload" netlify netlify-honeypot="not-for-humans">
    <div class="visually-hidden">
      <label>Don’t fill this out if you're human: <input name="not-for-humans" /></label>
    </div>
    <label class="form-label" for="subscriberEmail">Email address</label>
    <input class="form-control form-control-lg" placeholder="i.e.: name@email.com" type="email" name="email" id="subscriberEmail" required>
    <button class="btn-label-m2m-bg border border-3 rounded fw-bold py-2 px-4 mt-3" type="submit" aria-label="Submit">Download</button>
  </form>
  <p class="small mt-4 mb-0">By downloading, you acknowledge that you'll be added to my newsletter. Your information will be transferred to Minutes to Midnight. <a href="/privacy-policy/#newsletter" title="Go to the Privacy Policy page">Learn more</a>.</p>
</div>