{%- if page.url contains '/blog/' %}
<div class="alert alert-background-d-10 mt-5" role="alert">
  <h3 class="h4 text-center text-uppercase mt-0">Responses</h3>
  <p class="text-center fs-6">Use <a href="https://indieweb.org/Webmention">webmentions</a> to respond to this post, or <a href="mailto:contact@minutestomidnight.co.uk?subject={{ page.title | replace: ' ','%20' }}" title="Reply to this post"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16"><path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/></svg> <strong>reply via email</strong></a>.</p>
  {% if page.comments %}
  <h4 class="text-center mb-3">Comments</h4>
  <div class="px-3">
    <ul class="list-unstyled mt-0 ps-0">
    {% for comment in page.comments -%}
      <li class="fs-6 lh-sm mb-4">
        {%- if comment.reply == true %}↪️ {% else -%}💬 {% endif -%}<a class="reaction" rel="nofollow ugc" title="mentioned" href="{{ comment.href }}">{{ comment.author }}</a>&nbsp;&ndash; <span>{{ comment.response }}</span>
      </li>
    {% endfor -%}
    </ul>
  </div>
  {% endif %}
  <h4 class="text-center mb-3">Webmentions</h4>
  <div class="px-3">
    {% webmentions page.url posts replies likes %}
  </div>
  <h4 class="text-center mb-3">Anonymous comments</h4>
  <div class="px-3">
    <p class="text-center fs-6">If your website isn't part of Indieweb, you can send a comment through <a href="https://commentpara.de">Comment Parade</a>.</p>
  </div>
</div>
{% endif -%}