<h2 class="text-center text-uppercase">Performance</h2>
<table class="table table-borderless table-sm mt-4 mb-5">
  <thead>
    <tr>
      <th scope="col" class="align-top text-center fw-bold"><kbd>Google score</kbd></th>
      <th scope="col" class="align-top text-center fw-bold"><kbd>Speed index</kbd></th>
      <th scope="col" class="align-top text-center fw-bold"><kbd>Page weight</kbd></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center fs-1">{{ page.googlescore }}</td>
      <td class="text-center fs-1 fw-bold">{{ page.speedindex }}</td>
      <td class="text-center fs-1">{{ page.pageweight }}</td>
    </tr>
  </tbody>
</table>