<dl class="case-studies">
  {%- for post in caseStudies %}
  <dt><a class="u-url" title="Read the post ‘{{ post.title }}’" href="{{ post.url }}">{{ post.title }}</a></dt>
  <dd>
    {%- if post.featimage == true %}
    <picture>
      <source srcset="/assets/images/thumb-{{ post.id | split: "/" | last | append: ".webp" }}" type="image/webp">
      <source srcset="/assets/images/thumb-{{ post.id | split: "/" | last | append: ".jpg" }}" type="image/jpeg">
      <a href="{{ post.url }}" title="Read about {{ post.title }}"><img src="/assets/images/thumb-{{ post.id | split: "/" | last | append: ".jpg" }}" alt="{{ post.title }}" width="90" height="90"></a>
    </picture>
    {% endif -%}
    <p>{{ post.description }}</p>
  </dd>
  {% endfor %}
</dl>