<section class="featured-posts my-2 my-md-5 pt-3">

  <h2 class="text-center display-5 m2m-mask-texture mb-5">Highlights</h2>

    <div class="card-group">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">

      {%- assign postFeat = site.posts | where: 'featured-post', 'true' -%}
      {%- assign caseFeat = site.casestudies | where: 'featured-post', 'true' -%}
      {%- assign featured = postFeat | concat: caseFeat -%}

      {% for post in featured reversed limit:3 %}
        <div class="col m2m-transition-opacity-03s">
          <div class="card h-100 m2m-transition-border-03s">
            <img class="card-img-top" src="/assets/images/highlights/highlighted-{%- if postFeat -%}{{ post.featured-image }}{%- elsif caseFeat -%}{{ casestudy.featured-image }}{%- endif -%}" alt="{%- if postFeat -%}{{ post.featured-image-alt }}{%- elsif caseFeat -%}{{ casestudy.featured-image-alt }}{%- endif -%}" width="300" height="169">
            <div class="card-body">
              <h3 class="h4 mb-3">{%- if postFeat -%}{{ post.title }}{%- elsif caseFeat -%}{{ casestudy.title }}{%- endif -%}</h3>
              <div class="post-meta mb-3">
                {%- include post-meta.html -%}
              </div>
              <p class="card-text small">{%- if postFeat -%}{{ post.excerpt | markdownify | strip_html }}{%- elsif caseFeat -%}{{ casestudy.excerpt | markdownify | strip_html }}{%- endif -%}</p>
            </div>
            <div class="card-footer text-center pb-3">
              <a class="stretched-link" href="{{ post.url }}" title="Read: {{ post.title }}">Read {% if post.url contains '/portfolio/' -%}the case study{% else -%}the post{%- endif -%}</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</section>