<details class="py-1 px-3 m2m-bg-alpha d-inline-block">
  <summary class="fs-5 text-uppercase fw-bold m2m-letter-spacing-w1 mt-0 my-0 py-2">Table of contents</summary>
  {%- if page.toc-maxdepth == 2 -%}
  {% include site-toc.html html=content sanitize=true class="inline_toc fw-bold" item_class="fs-6 pb-1 text-uppercase" submenu_class="fw-normal" h_min=2 h_max=2 %}
  {%- else -%}
  {% include site-toc.html html=content sanitize=true class="inline_toc fw-bold" item_class="fs-6 pb-1 text-uppercase" submenu_class="fw-normal" h_min=2 h_max=3 %}
  {%- endif -%}
</details>