{%- comment %}
Render your responsive images using <img srcset>, with the largest resized image used as a fallback.

Usage:

  {% responsive_image path: '/assets/images/imagename.jpg' %}

{% endcomment -%}
{%- assign largest = resized | sort: 'width' | last -%}
{%- capture srcset -%}
{%- for i in resized -%}
  /{{ i.path }} {{ i.width }}w,
{%- endfor -%}
{%- endcapture -%}
<figure class="{{ include.class | default: 'my-5 text-center' }}">
  <img class="u-featured mx-auto" loading="auto" src="/{{ largest.path }}" alt="Homepage of {{ alt }}" srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w">
  {% if include.caption %}<figcaption class="p-name mt-3 caption">{{ include.caption }}</figcaption>{% endif -%}
</figure>