<span class="d-none d-md-inline-block ms-md-3">
  <span><strong>Share</strong>: </span>
  <a class="small px-1" href="https://twitter.com/intent/tweet?source={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&text={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" title="Share on Twitter" target="_blank">↗︎ Twitter</a>
  <a class="small px-1" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&source={{ site.url }}" title="Share on LinkedIn" target="_blank">↗︎ LinkedIn</a>
</span>