<div class="visually-hidden">
  <span class="p-author h-card">
    <data class="u-photo" value="{{ site.url }}/assets/images/minutestomidnight-avatar-uphoto.png"></data>
    <a rel="author" class="u-url u-uid" href="{{ site.url }}"><strong>Simone Silvestroni</strong></a>
    <data class="p-note" value="A digital polymath, I've been working as a sound and web designer for more than 25 years."></data>
    <data class="p-org" value="Minutes to Midnight"></data>
    <data class="u-email" rel="me" value="mailto:contact@minutestomidnight.co.uk"></data>
    <data class="p-locality" value="Milan"></data>
    <data class="p-country-name" value="Italy"></data>
  </span>
  <a rel="me" href="https://github.com/minutes2midnight/">Github</a>
  <a rel="me" href="https://www.linkedin.com/in/minutes2mid/">LinkedIn</a>
  <a rel="me" href="https://minutestomidnight.bandcamp.com/">Bandcamp</a>
  <a rel="me" href="https://soundcloud.com/minutes2mid">Soundcloud</a>
  <a rel="me" href="https://open.spotify.com/artist/250igOmtd9HCpGyXDWUcl9?si=d9t8bLC2QfG8iT1R3y9CAw">Spotify</a>
  <a rel="me" href="https://www.youtube.com/channel/UCXO3ZbalCLwCZwHk_UkDBHg/">YouTube</a>
  <a rel="me" href="https://www.flickr.com/photos/minutes2midnight/">Flickr</a>
  <a rel="me" href="https://oreganodangereux.wordpress.com">WordPress</a>
</div>