<fieldset>
	<legend><strong>Dynamic search</strong></legend>
	<form role="search" id="contact-form" action="">
		<label class="small" for="search">Start typing to see the results:</label>
		<input aria-label="Search" id="search" type="search" name="search" placeholder="e.g. Reaper" autocomplete="off" />
		<ul id="list"></ul>
	</form>
</fieldset>
<fieldset>
	<legend><strong>Search without Javascript</strong></legend>
	<form method="get" action="https://duckduckgo.com/?q=" target="_blank">
		<input type="hidden" name="sites" value="minutestomidnight.co.uk">
		<label class="small" for="searchDDG">Search this site using DuckDuckGo:</label>
		<input aria-label="Search" type="search" name="q" id="searchDDG" placeholder="e.g. Reaper">
		<input type="submit" name="submit" value="Search" id="submit">
	</form>
</fieldset>