<div class="card-box border rounded-3 p-4 mt-5" role="alert" id="comments">
  <p class="text-center fs-5 mb-0"><a class="m2m-link" href="mailto:contact@minutestomidnight.co.uk?subject={{ page.title | uri_escape }}" title="Reply to this post"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16"><path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/></svg> <strong>Reply via email</strong></a>, or use <a class="m2m-link" href="https://indieweb.org/Webmention"><strong>webmentions</strong></a>.</p>
  {% if page.comments %}
  <h2 class="text-center">Comments from WordPress</h2>
  <div>
    <ul class="list-unstyled mt-0 ps-0">
    {% for comment in page.comments -%}
      <li class="fs-5 lh-sm mb-4">
        {%- if comment.reply == true %}↪️ {% else -%}💬 {% endif -%}<a class="reaction" rel="nofollow ugc" title="mentioned" href="{{ comment.href }}">{{ comment.author }}</a>&nbsp;&ndash; <span>{{ comment.response }}</span>
      </li>
    {% endfor -%}
    </ul>
  </div>
  {% endif -%}
  <noscript><br>I use client-side JavaScript to render the webmentions. If you do not wish to enable JavaScript that's OK, but you won't see any webmention I've received — sorry.</noscript>
  <div id="webmentions"></div>
</div>