<section class="h-feed latest-posts m2m-entry mb-5 pb-1">

  <h2 class="p-name text-center mt-2 mb-4">Latest blog posts</h2>

  <div class="card-group">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
    {% for post in site.posts limit: 2 %}
    {% include pattern-card-post.html %}
    {% endfor %}
    </div>
  </div>

  <div class="mt-4 text-center">
    <a class="btn btn-md btn-m2m btn-m2m-cta fw-bold" href="/blog/" title="Check out all the posts"><span class="small initialism">Read the blog</span></a>
  </div>

</section>