<div id="breadcrumbs" class="d-none d-md-inline-block pt-4 pb-4 mt-5 mb-4">
  <nav class="small" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' -%}
      <li class="breadcrumb-item text-uppercase"><a class="m2m-link-entry" href="/"><strong>Home</strong></a></li>
    {%- for crumb in crumbs offset: 1 %}
      {% if forloop.last -%}
      <li class="breadcrumb-item"><strong>{{ page.title }}</strong></li>
      {%- else -%}
      {%- unless page.url contains '/page/' -%}
      <li class="breadcrumb-item text-uppercase">
        <a class="m2m-link-entry" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'category/','archive/' | replace:'tag/','archive/' }}{% endfor %}"><strong>{{ crumb | replace:'-',' ' | replace:'category','archive' | replace:'tag','archive' | remove:'.html' | capitalize }}</strong></a>
      </li>
      {%- endunless -%}
      {% endif -%}
    {% endfor %}
    </ol>
  </nav>
</div>