<section class="m2m-image-gallery my-5">
  <div class="d-flex flex-wrap justify-content-center m2m-img-gallery-thumbs">
{%- for image in site.static_files -%}
  {%- capture galleryPath -%}{{ include.folder }}{%- endcapture -%}
  {%- if image.path contains galleryPath -%}
    {%- assign filenameparts = image.path | split: "/" -%}
    {%- assign imgCaption = filenameparts | last | replace: image.extname,'' | replace: 'thumb-', '' | replace: '-',' ' | replace: '_',' ' -%}
    {%- if image.path contains 'thumb-' -%}
    <div class="ps-1 pe-2 text-center m2m-transition-opacity-03s">
      <img class="rounded mx-auto d-block my-2 me-2" src="{{ image.path }}" alt="{{ imgCaption | capitalize }}" title="{{ imgCaption | upcase }}" width="160" height="160">
    </div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
  </div>
</section>