<span class="d-none d-md-inline-block ms-md-3">
  <span><strong>Share</strong>: </span>
  <a class="small px-1" href="https://twitter.com/intent/tweet?source={{ site.url | uri_escape }}{{ page.url | uri_escape }}&text={{ page.content | strip_html }}" title="Share on Twitter" target="_blank">↗︎ Twitter</a>
  <a class="small px-1" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | uri_escape }}{{ page.url | uri_escape }}&title={%- include site-meta-title.html -%}&summary={{ page.content | uri_escape | strip_html }}&source={{ site.url }}" title="Share on LinkedIn" target="_blank">↗︎ LinkedIn</a>
</span>