<div class="my-5" role="alert" id="comments">
  <p class="fs-5 mb-0"><a href="mailto:contact@minutestomidnight.co.uk?subject={{ page.title | uri_escape }}" title="Reply to this post"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16"><path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/></svg> <strong>Reply via email</strong></a> or use <a href="https://indieweb.org/Webmention">webmentions</a></p>
  <noscript><br>I use client-side JavaScript to render the webmentions. If you do not wish to enable JavaScript that's OK, but you won't see any webmention I've received — sorry.</noscript>
  <div id="webmentions"></div>
</div>
