<div class="u-author p-author h-card">
  <data class="u-url u-uid" value="{{ site.url }}{{ page.url }}"></data>
  <data class="p-name" value="Simone Silvestroni"></data>
  <data class="u-photo" value="{{ site.url }}/assets/images/minutestomidnight-avatar-uphoto.png"></data>
  <data class="p-note" value="A digital polymath, I've been working as a sound and web designer for more than 25 years."></data>
  <data class="p-org" value="Minutes to Midnight"></data>
  <data class="u-email" rel="me" value="mailto:contact@minutestomidnight.co.uk"></data>
  <data class="p-locality" value="Milan"></data>
  <data class="p-country-name" value="(Italy)"></data>
  <data rel="me" value="https://minutestomidnight.bandcamp.com/"></data>
  <data rel="me" value="https://www.youtube.com/channel/UCXO3ZbalCLwCZwHk_UkDBHg/"></data>
  <data rel="me" value="https://open.spotify.com/artist/250igOmtd9HCpGyXDWUcl9?si=d9t8bLC2QfG8iT1R3y9CAw"></data>
  <data rel="me" value="https://soundcloud.com/minutes2mid"></data>
  <data rel="me" value="https://www.linkedin.com/in/minutes2mid/"></data>
  <data rel="me" value="https://github.com/minutes2midnight/"></data>
  <data rel="me" value="https://www.flickr.com/photos/minutes2midnight/"></data>
  <data rel="me" value="https://oreganodangereux.wordpress.com"></data>
</div>