{%- comment %}
Render your responsive images using <img srcset>, with the largest resized image used as a fallback.
Usage:
  {% responsive_image path: '/assets/images/imagename.jpg' %}
or, for featured images:
  {% responsive_image_block %}
    path: assets/images/{{ page.title | slugify | append: '.jpg' }}
    alt: {{ page.title }}
  {% endresponsive_image_block %}
{% endcomment -%}
{%- assign largest = resized | sort: 'width' | last -%}
{%- capture srcset -%}
{%- for i in resized -%}
  /{{ i.path }} {{ i.width }}w,
{%- endfor -%}
{%- endcapture -%}
{% assign captionLabel = post.featimage-caption %}
<figure class="{% if margin-nil %}my-{{ margin-nil }} {% else %}my-5 {% endif %}text-center">
  <img class="{% if class %}{{ class }} {% endif %}mx-auto" loading="auto" src="/{{ largest.path }}" alt="{{ alt }}" srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w">
  {% if caption-true %}
  <figcaption class="mt-3 caption">{{ caption }}</figcaption>
  {% endif %}
</figure>
