<h2 class="my-3">Performance</h2>
<table class="table table-borderless table-sm">
  <thead>
    <tr>
      <th scope="col" class="align-top text-center">Google score</th>
      <th scope="col" class="align-top text-center">Speed index</th>
      <th scope="col" class="align-top text-center">Page weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">{{ page.googlescore }}</td>
      <td class="text-center"><strong>{{ page.speedindex }}</strong></td>
      <td class="text-center">{{ page.pageweight }}</td>
    </tr>
  </tbody>
</table>