<section class="h-feed latest-posts m2m-entry mb-5 pb-1">

  <h2 class="p-name text-center mt-2 mb-4">Latest case studies</h2>

{% assign sorted-web = site.posts | where: "categories","Web design" | where: "tags","case study" %}
{% assign sorted-audio-posts = site.posts | where: "categories","Music release" | where: "tags","case study" %}
{% assign sorted-audio-pages = site.pages | where: "categories","Music release" | where: "tags","case study" %}
{% assign sorted-audio = sorted-audio-pages | concat: sorted-audio-posts %}

  <div class="card-group">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
    {% for post in sorted-web limit: 1 %}
    {% include pattern-card-post.html %}
    {% endfor %}
    {% for post in sorted-audio limit: 1 %}
    {% include pattern-card-post.html %}
    {% endfor %}  
    </div>
  </div>

  <div class="mt-4 text-center">
    <a class="btn btn-md btn-m2m btn-m2m-cta fw-bold" href="/tag/case-study/" title="Check out all the case studies"><span class="small initialism">Read all the case studies</span></a>
  </div>

</section>