<h2 class="fs-1 my-3">Performance</h2>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" class="align-top text-center fw-bold">Google score</th>
      <th scope="col" class="align-top text-center fw-bold">Speed index</th>
      <th scope="col" class="align-top text-center fw-bold">Page weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center fs-1">{{ page.googlescore }}</td>
      <td class="text-center fs-1 fw-bold">{{ page.speedindex }}</td>
      <td class="text-center fs-1">{{ page.pageweight }}</td>
    </tr>
  </tbody>
</table>
<br>