<section class="m2m-image-gallery my-5 pt-3">
  <div class="d-flex flex-wrap justify-content-center m2m-img-gallery-thumbs" id="gallery" data-bs-toggle="modal" data-bs-target="#smdImgGallery{{ include.id }}">
{%- for image in site.static_files -%}
  {%- capture galleryPath -%}{{ include.folder }}{%- endcapture -%}
  {%- if image.path contains galleryPath -%}
    {%- assign filenameparts = image.path | split: "/" -%}
    {%- assign imgCaption = filenameparts | last | replace: image.extname,'' | replace: 'thumb', '' | replace: '-a-','' | replace: '-b-','' | replace: '-c-','' | replace: '-d-','' | replace: '-e-','' | replace: '-f-','' | replace: '-g-','' | replace: '-h-','' | replace: '-i-','' | replace: '-l-','' | replace: '-m-','' | replace: '-n-','' | replace: '-o-','' | replace: '-p-','' | replace: '-q-','' | replace: '-r-','' | replace: '-s-','' | replace: '-t-','' | replace: '-u-','' | replace: '-v-','' | replace: '-z-','' | replace: '-',' ' | replace: '_',' ' -%}
    {%- if image.path contains 'thumb-' -%}
    <div class="ps-1 pe-2 text-center m2m-transition-opacity-03s">
      <img class="m2m-img-gallery-thumb rounded mx-auto d-block" src="{{ image.path }}" alt="{{ imgCaption | capitalize }}" title="Click to view {{ imgCaption | capitalize }}" width="150" height="150" data-bs-target="#smdImgGalleryCarousel">
      <span class="m2m-image-gallery-caption d-block initialism mt-2 mb-4">{{ imgCaption }}</span>
    </div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
  </div>
</section>