<span class="d-none d-md-inline-block ms-md-3">
  <span><strong>Share</strong>: </span>
  <a class="small px-1" href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.content | markdownify | strip_html }}" title="Share on Twitter" target="_blank">↗︎ Twitter</a>
  <a class="small px-1" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.content | markdownify | strip_html }}&source={{ site.url }}" title="Share on LinkedIn" target="_blank">↗︎ LinkedIn</a>
</span>