<p class="d-inline-block m2m-bg-l-60 px-3 py-2 my-3 rounded">🚨 The search feature needs <strong>JavaScript to be enabled</strong> in your browser.</p>

<div class="form form-search">
  <form role="search" id="contact-form" action="">
    <label class="fs-5 label" for="search">Start typing to see the results:</label>
    <input aria-label="Search" class="form-control form-control-lg input my-2" id="search" type="search" name="search" placeholder="e.g. Pro Tools" autocomplete="off" />
    <ul class="result-list list-unstyled mt-4" id="list">
      <!-- results go here -->
    </ul>
  </form>
</div>