<div class="newsletter newsletter-subscription my-4 pt-3">
  <form action="/newsletter/subscribed/" name="newsletterSubscription" method="post"><input type="hidden" name="form-name" value="newsletterSubscription">
    <div class="row g-2">
      <div style="display: none;"><label>Don’t fill this out if you're human: <input name="not-for-humans"></label></div>
        <div class="col-lg-9 col-xl-6">
        <div class="mb-3">
          <label class="visually-hidden form-label" for="subscriberEmail">Email address</label>
          <input class="form-control form-control-lg" placeholder="Your email address" type="text" name="email" id="subscriberEmail" required="">
        </div>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-lg btn-m2m fw-bold" type="submit" aria-label="Submit">Subscribe</button>
      </div>
    </div>
  </form>
</div>