{% comment %}
  *-------------------------------------------------
  Render your responsive images using <img srcset>,
  with the largest resized image used as a fallback.

  Front Matter variables
  *-------------------------------------------------
  featimage: true
  featimage-alt: "000"
  featimage-class: 'u-featured'
  featimage-name: '000'
  image-caption: true
  caption: '000'
  margin-nil: 0 // OPTIONAL if I need no top margin

  Usage
  *-------------------------------------------------
  {% responsive_image 
    path: '/assets/images/000.000' 
    alt: 000
  %}

  Or
  *-------------------------------------------------
  {% responsive_image_block %}
    path: assets/images/000.000
    alt: 000
    caption-true: {{ page.image-caption }}
    caption: {{ page.caption }}}
  {% endresponsive_image_block %}

  Embed with Alfred:
  *-------------------------------------------------
  /featfrontmatter
  /respimage
  /respfeatimage
  -------------------------------------------------*
{% endcomment %}
{%- assign largest = resized | sort: 'width' | last -%}
{%- capture srcset -%}
{%- for i in resized -%}
  /{{ i.path }} {{ i.width }}w,
{%- endfor -%}
{%- endcapture -%}
<figure class="{% if margin-nil %}my-{{ margin-nil }} {% else %}my-5 {% endif %}text-center">
  <picture>
    <source type="image/webp" srcset="{{ srcset | strip_newlines | replace:'.png','.webp' | replace:'.jpg','.webp' | replace:'.jpeg','.webp' }} /{{ path | replace:'.png','.webp' | replace:'.jpg','.webp' | replace:'.jpeg','.webp' }} {{ original.width }}w">
    <img class="{% if class %}{{ class }} {% endif %}mx-auto" src="/{{ largest.path }}" alt="{{ alt }}" srcset="{{ srcset | strip_newlines }} /{{ path }} {{ original.width }}w">
  </picture>
  {% if caption-true %}
  <figcaption class="mt-3 caption">{{ caption }}</figcaption>
  {% endif %}
</figure>