<div class="col m2m-transition-opacity-03s">
  <div class="card h-100 m2m-transition-border-03s">
    <div class="card-body text-center">
      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <span class="p-category btn-label-m2m btn-label-m2m-bg d-inline-block initialism fw-bold me-1 rounded"><strong>{{ category | upcase | replace:"-"," " }}</strong></span>
      {% endfor %}
      <h4 class="m2m-sans text-uppercase h5 mt-2 mb-3">{{ post.title }}</h4>
      <p class="card-text text-start fs-6">{{ post.excerpt | strip_html }}</p>
    </div>
    <div class="card-footer text-center pb-3">
      <a class="stretched-link" href="{{ post.url }}" title="Read: {{ post.title }}">Read the post</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>
    </div>
  </div>
</div>