<div>
  <div>
    {%- if page.previous.url %}{% unless page.previous.hidden -%}
    <a href="{{ page.previous.url }}">
      <div><span>← Older</span></div>
      <span><strong>{{ page.previous.title }}</strong></span>
    </a>
    {% endunless %}{% endif %}
  </div>
  <div>
    {%- if page.next.url %}{% unless page.next.hidden -%}
    <a href="{{ page.next.url }}">
      <div><span>Newer →</span></div>
      <span><strong>{{ page.next.title }}</strong></span>
    </a>
    {% endunless %}{% endif %}
  </div>
</div>