{%- if post -%}
  {%- assign categories = post.categories -%}
{%- else -%}
  {%- assign categories = page.categories -%}
{%- endif -%}
<div class="my-5 py-2">
  <table class="table table-borderless table-hover mb-0">
    <tbody>
      {% unless page.url contains '/work/' %}
      <tr class="post-taxonomy">
        <th width="50">
          <span class="text-uppercase">Topic</span>
        </th>
        <td>
        {%- for category in categories -%}
          <a class="p-category" href="/category/{{ category | slugify | append: '/' }}"><span class="text-uppercase">{{ category | upcase | replace:"-"," " }}</span></a>
        {%- endfor -%}
        </td>
      </tr>
      {% endunless %}
      {%- if page.url contains '/work/' %}
      {%- unless page.type == false %}
      <tr>
        <th width="50">
          <span class="me-1">Type</span>
        </th>
        <td>
          <span class="p-category text-uppercase fw-bold"><strong>{{ page.type }}</strong></span>
        </td>
      </tr>
      {%- endunless %}
      {%- unless page.skills == false %}
      <tr>
        <th width="50">
          <span class="me-1">Skills</span>
        </th>
        <td>
          {%- for skill in page.skillset -%}
          <span class="p-category text-uppercase fw-bold"><strong>{{ skill }}</strong></span>{% unless forloop.last %} <span class="d-inline-block">&middot;</span> {% endunless %}
          {%- endfor -%}
        </td>
      </tr>
      {% endunless %}
      {%- endif -%}
      {% unless page.url contains '/work/' %}
      <tr class="post-taxonomy">
      {%- unless page.tags == empty -%}
        {%- if post -%}
          {%- assign tags = post.tags -%}
        {%- else -%}
          {%- assign tags = page.tags -%}
        {%- endif -%}
        <th>
          <span class="d-inline-block text-uppercase me-1">Tags</span>
        </th>
        <td>
          {% for tag in tags %}<a class="p-category text-uppercase" href="/tag/{{ tag | slugify | append: '/' }}">{{ tag | upcase | prepend: '<small>#</small>' }}</a>{% unless forloop.last %} <span class="d-inline-block">&middot;</span> {% endunless %}{% endfor %}
        </td>
      </tr>
      {% endunless %}
      <tr>
        <th>
          <span class="d-inline-block text-uppercase me-1">Date</span>
        </th>
        <td>
          {%- if post -%}
            {% assign date = post.date %}
          {%- elsif page -%}
            {% assign date = page.date %}
          {%- endif -%}
          <time class="dt-published" datetime="{{ date | date_to_xmlschema }}" itemprop="dateCreated">{{ date | date: "%-d %B %Y" }}</time>
        </td>
      </tr>
      {%- endunless -%}
    </tbody>
  </table>
</div>