<section class="post-navigation">
	<div>
		{%- if page.previous.url %}{% unless page.previous.hidden -%}
		<a href="{{ page.previous.url }}">
			<span class="dim">←&nbsp;Older</span><br>
			<span><strong>{{ page.previous.title }}</strong></span>
		</a>
		{% endunless %}{% endif %}
	</div>
	<div>
		{%- if page.next.url %}{% unless page.next.hidden -%}
		<a href="{{ page.next.url }}">
			<span class="dim">Newer&nbsp;→</span><br>
			<span><strong>{{ page.next.title }}</strong></span>
		</a>
		{% endunless %}{% endif %}
	</div>
</section>