<!-- Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  {% if page.is_post -%}
  "@type": "BlogPosting",{% else %}"@type": "WebSite",
  {% endif %}
  "name": "{% if page.url == "/" %}{{ site.title }} - {{ site.tagline }}{% else %}{{ page.title }} - {{ site.title }} {{ site.tagline }}{% endif %}",
  "headline": "{% if page.url == "/" %}{{ site.title }} - {{ site.tagline }}{% else %}{{ page.title }} - {{ site.title }} {{ site.tagline }}{% endif %}",
  "url": "{{ site.url }}{{ page.url }}",
  "description": "{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}",
  "keywords": "{% if page.tags %}{{ page.tags | join: ',' }}{% else %}{{ site.keywords }}{% endif %}",
  {%- assign tagArchive = page.type | where: 'post.type', 'tag' -%}
  {% unless tagArchive %}
  "datePublished": "{{ page.date }}",
  "dateModified": "{{ page.last_modified_at }}",
  {% endunless -%}
  "author": {
    "@type": "Person",
    "name": "Simone Silvestroni",
    "givenName": "Simone",
    "familyName": "Silvestroni"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "sameAs": [
    "https://uk.linkedin.com/in/minutes2mid/",
    "https://github.com/minutes2midnight/",
    "https://www.flickr.com/photos/minutes2midnight/"
  ],
  {%- if page.featured-image %}
  "image": {
    "@type": "ImageObject",
    "width": "1200",
    "height": "500",
    "url": "{{ site.url }}/assets/images/{{ page.featured-image }}"
  }
  {% else %}
  "image": {
    "@type": "ImageObject",
    "width": "1200",
    "height": "628",
    "url": "{{ site.url }}{{ site.logo }}"
  }
  {% endif %}
}
</script>
