<nav class="nav nav-main-sub ps-0 justify-content-center justify-content-md-start" aria-label="Navigation">
{%- for item in site.data.nav-main.menu %}
  {%- include pattern-subnav.html -%}
  {%- if subnav-about contains page.url -%}
    {% for item in site.data.nav-main.menu -%}
      {% if item.link == '/about/' -%}
        {%- for entry in item.sub -%}
          <a class="m2m-link {% if page.url == entry.link %} m2m-current{% endif %}" href="{{ entry.link }}" title="{{ entry.desc }}"><strong>{{ entry.name }}</strong></a>
        {% endfor %}
      {%- endif %}
    {%- endfor %}
  {%- elsif subnav-projects contains page.url %}
    {%- for item in site.data.nav-main.menu %}
      {%- if item.link == '/projects/' %}
        {%- for entry in item.sub -%}
          <a class="m2m-link {% if page.url == entry.link %} m2m-current{% endif %}" href="{{ entry.link }}" title="{{ entry.desc }}"><strong>{{ entry.name }}</strong></a>
        {% endfor -%}
      {% endif -%}
    {% endfor %}
  {%- elsif subnav-blog contains page.url %}
    {%- for item in site.data.nav-main.menu %}
      {%- if item.link == '/blog/' %}
        {%- for entry in item.sub -%}
          <a class="m2m-link {% if page.url == entry.link %} m2m-current{% endif %}" href="{{ entry.link }}" title="{{ entry.desc }}"><strong>{{ entry.name }}</strong></a>
        {% endfor -%}
      {% endif -%}
    {% endfor %}
  {%- elsif subnav-contact contains page.url %}
    {%- for item in site.data.nav-main.menu %}
      {%- if item.link == '/contact/' %}
        {%- for entry in item.sub -%}
          <a class="m2m-link {% if page.url == entry.link %} m2m-current{% endif %}" href="{{ entry.link }}" title="{{ entry.desc }}"><strong>{{ entry.name }}</strong></a>
        {% endfor -%}
      {% endif -%}
    {% endfor -%}
  {% endif -%}
{% endfor -%}
</nav>