<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- if page.robots %}
<meta name="robots" content="{{ page.robots }}" />
{% endif %}
<title>
  {%- if page.url == "/" -%}
  {{ site.title | append: ' &ndash; ' }}{{ site.tagline }}
  {%- elsif page.type == 'category' or page.type == 'tag' -%}
  {{ page.type | capitalize }}: {{ page.title | capitalize | append: ' &ndash; ' }}{{ site.title }} {{ site.tagline }}
  {%- else -%}
  {{ page.title | append: ' &ndash; ' }}{{ site.title }} {{ site.tagline }}
  {%- endif -%}</title>
{% feed_meta %}
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/notes.xml" title="Minutes to Midnight's Notes and status messages" />