<header class="sticky-md-top pt-2 pt-md-4">
  <div class="container gx-5" id="m2m-header">
    <div class="h-card">
      <div class="visually-hidden">
        <span class="p-name">Simone Silvestroni</span>
        <span class="p-org">Minutes to Midnight</span>
        {% include pattern-avatar.html alt="Minutes to Midnight" width="120" height="120" %}
      </div>
    </div>
    <a class="visually-hidden-focusable" href="#m2m-content">Skip to the content</a>
    {% include navigation-main.html %}
  </div>
</header>