{%- comment -%}
  *-------------------------
  Main navigation
  -------------------------*
{%- endcomment -%}
<ul class="nav nav-main-sub ps-0 pb-4 justify-content-center justify-content-md-start" aria-label="Navigation">
  {% for item in site.data.nav-main-blog -%}
  <li class="nav-item me-4">
    <a class="m2m-link fs-5 m2m-transition-opacity-03s{% if page.url == item.link %} m2m-current{% endif %}" href="{{ item.link }}" title="{{ item.desc }}"><strong>{{ item.name }}</strong></a>
  </li>
  {% endfor -%}
</ul>