<nav aria-label="Main navigation">
	<ul>
		{% for item in site.data.nav-main.menu -%}
		{%- capture main-nav-icon -%}
			{%- if item.link == 'Homepage' -%}
				<span class="visually-hidden">Go to the homepage</span>
			{%- endif -%}
		{%- endcapture -%}
		<li><a{% if page.url contains item.link %} class="current"{% endif %} href="{{ site.url }}{{ item.link }}"{% if forloop.last %} title="Subscribe for free via RSS"{% endif %}>{{ main-nav-icon }}{{ item.name }}</a></li>
		{% endfor -%}
	</ul>
</nav>