{%- assign note = site.notes -%}
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ page.url |  replace:'index.html','' | absolute_url }}{% endif %}">
<!-- Open graph -->
<meta property="og:title" content="{%- include site-meta-title.html -%}" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% elsif note.description %}{{ note.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:image" content="{% if page.featimage %}{{ site.url }}{{ page.featimage-url }}{% else -%}{{ site.logo | prepend: site.url }}{% endif %}" />
<!-- LinkedIn -->
<meta prefix="og: https://ogp.me/ns#" property="og:title" content="{%- include site-meta-title.html -%}" />
<meta prefix="og: https://ogp.me/ns#" property="og:type" content="website" />
<meta prefix="og: https://ogp.me/ns#" property="og:description" content="{% if page.description %}{{ page.description }}{% elsif note.description %}{{ note.description }}{% else %}{{ site.description }}{% endif %}" />
<meta prefix="og: https://ogp.me/ns#" property="og:image" content="{% if page.featimage %}{{ site.url }}{{ page.featimage-url }}{% else -%}{{ site.logo | prepend: site.url }}{% endif %}" />
<meta prefix="og: https://ogp.me/ns#" property="og:url" content="{{ page.url | prepend: site.url }}" />
<!-- Twitter integration -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{%- include site-meta-title.html -%}" />
<meta name="twitter:url" content="{{ page.url }}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% elsif note.description %}{{ note.description }}{% else %}{{ site.description }}{% endif %}" />
<meta name="twitter:image" content="{% if page.featimage %}{{ site.url }}{{ page.featimage-url }}{% else -%}{{ site.logo | prepend: site.url }}{% endif %}" />
<!-- Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  {% if page.is_post -%}
  "@type": "BlogPosting",{% else %}"@type": "WebSite",
  {%- endif %}
  "name": "{%- include site-meta-title.html -%}",
  "headline": "{%- include site-meta-title.html %} {{ site.tagline }}",
  "url": "{{ site.url }}{{ page.url }}",
  "description": "{% if page.description %}{{ page.description }}{% elsif note.description %}{{ note.description }}{% else %}{{ site.description }}{% endif %}",
  "keywords": "{% if page.tags %}{{ page.tags | join: ',' }}{% else %}{{ site.keywords }}{% endif %}",
  {%- assign tagArchive = page.type | where: 'post.type', 'tag' -%}
  {% unless tagArchive %}
  "datePublished": "{{ page.date }}",
  "dateModified": "{{ page.last_modified_at }}",
  {% endunless -%}
  "author": {
    "@type": "Person",
    "name": "Simone Silvestroni",
    "givenName": "Simone",
    "familyName": "Silvestroni"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "sameAs": [
    "https://uk.linkedin.com/in/minutes2mid/",
    "https://github.com/minutes2midnight/",
    "https://www.flickr.com/photos/minutes2midnight/"
  ],
  {%- if page.featimage %}
  "image": {
    "@type": "ImageObject",
    "width": "1024",
    "height": "765",
    "url": "{{ site.url }}{{ page.featimage-url }}"
  }
  {% else %}
  "image": {
    "@type": "ImageObject",
    "width": "1200",
    "height": "628",
    "url": "{{ site.url }}{{ site.logo }}"
  }
  {%- endif %}
}
</script>