<footer class="text-center text-md-start py-4" id="m2m-footer">
  <p class="small my-2">&copy; {{ site.time | date: '%Y' }} {{ site.title }}&trade;</p>
  <nav class="nav-secondary mb-0" role="navigation">
    {% for item in site.data.nav-secondary -%}
    <a class="m2m-link fw-bold{% if page.url contains item.link %} m2m-current rounded{% endif %}" href="{{ item.link }}" title="Go to: {{ item.name }}"><strong>{{ item.name }}</strong></a>
    {% endfor -%}
  </nav>
  <div class="mt-5 mb-4 pb-3">
    <p class="small text-uppercase fw-bold"><strong>Member of</strong>:</p>
    <div class="kb-club">
      <a target="blank" href="https://512kb.club"><span class="kb-club-no-bg">512KB Club</span><span class="kb-club-bg">Orange Team</span></a>
    </div>
  </div>
  <div class="fs-6 mb-3">
    <a href="https://xn--sr8hvo.ws/%F0%9F%8E%BC%F0%9F%8D%B3%F0%9F%8C%B9/previous"><kbd class="fs-5">←</kbd></a> An <strong>IndieWeb</strong> Webring 🕸💍
    <a href="https://xn--sr8hvo.ws/%F0%9F%8E%BC%F0%9F%8D%B3%F0%9F%8C%B9/next"><kbd class="fs-5">→</kbd></a>
  </div>
</footer>