<title>
{%- assign notes = site.notes -%}
{%- if page.url == "/" -%}
{{ site.title | append: ' – ' }}{{ site.tagline }}
{%- elsif page.url == "/notes/" -%}
{{ page.title | append: ' – ' }}{{ site.title }}
{%- elsif page.url contains 'notes' -%}
{{ page.date | date: "%-d %B %Y" }}: {{ page.tags[0] | capitalize }}{{ site.title | prepend: ' – ' }}
{%- elsif page.type == 'category' or page.type == 'tag' -%}
{{ page.type | capitalize }}: {{ page.title | capitalize | append: ' – ' }}{{ site.title }}
{%- else -%}
{{ page.title | append: ' – ' }}{{ site.title }}
{%- endif -%}
</title>