{%- comment -%}
  *-------------------------
  Main navigation
  -------------------------*
{%- endcomment -%}
<nav class="nav nav-main justify-content-center justify-content-sm-start align-items-center mx-md-4 pt-4 pt-sm-4" aria-label="Navigation">
{% for item in site.data.nav-main.menu -%}
  {% include pattern-subnav.html %}
  {% comment %}
  *---------------------------------
  Fetching the first part of the URL
  ---------------------------------*
  {%- endcomment -%}
  {%- assign init-url = page.url | replace:'/',' ' | truncatewords: 1 | remove:'...' -%}
  {%- comment -%}
  *---------------------------------
  Generating the navigation
  ---------------------------------*
  {%- endcomment -%}
  <a class="nav-link fs-6 text-uppercase m2m-transition-opacity-03s{% unless page.url == '/' %}{% if page.url contains item.link or subnav-about contains page.url or subnav-about contains init-url or subnav-blog contains page.url or subnav-contact contains page.url %} active{% endif %}{% endunless %}{% if item.hide == true %} m2m-mobile--hidden{% endif %}" href="{{ item.link }}" title="{{ item.desc }}">{{ item.name }}</a>
{% endfor -%}
</nav>