<link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ page.url |  replace:'index.html','' | absolute_url }}{% endif %}">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<!-- Open graph -->
<meta property="og:title" content="{%- include site-meta-title.html -%}" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:image" content="{% if page.featimage == true %}{{ site.url }}/assets/images/{{ page.featimage-name }}{% else -%}{{ site.logo | prepend: site.url }}{% endif %}" />
<!-- Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  {% if page.is_post -%}
  "@type": "BlogPosting",
  {%- else %}
  "@type": "WebSite",
  {%- endif %}
  "name": "{{ site.title }}",
  "headline": "{%- include site-meta-title.html %}",
  "url": "{{ site.url }}{{ page.url }}",
  "description": "{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}",
  "keywords": "{% if page.tags %}{{ page.tags | join: ', ' }}{% else %}{{ site.keywords }}{% endif %}",
  {%- assign tagArchive = page.type | where: 'post.type', 'tag' -%}
  {% unless tagArchive %}
  "datePublished": "{{ page.date }}",
  "dateModified": "{{ page.last_modified_at }}",
  {% endunless -%}
  "author": {
    "@type": "Person",
    "name": "Simone Silvestroni",
    "givenName": "Simone",
    "familyName": "Silvestroni"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  {% if page.featimage == true %}
  "image": {
    "@type": "ImageObject",
    "width": "1024",
    "height": "765",
    "url": "{{ site.url }}/assets/images/{{ page.featimage-name }}"
  },
  {%- else %}
  "image": {
    "@type": "ImageObject",
    "width": "1200",
    "height": "628",
    "url": "{{ site.url }}{{ site.logo }}"
  },
  {%- endif %}
  "sameAs": [
    "https://indieweb.social/@m2m",
    "https://minutestomidnight.bandcamp.com/",
    "https://www.youtube.com/@m2m"
    "https://github.com/simonesilvestroni/",
    "https://www.linkedin.com/in/simonesilvestroni/",
  ]
}
</script>