<footer class="dirt text-center text-md-start m2m-bg-alpha mt-5 pt-2">
  <div class="container m2m-container py-4">
    {%- include site-nav-footer.html %}
    <div class="d-flex justify-content-center justify-content-md-start mt-4">{%- include site-nav-footer-social.html %}</div>
    <p class="small py-4">&copy; and  CC BY-SA 4.0 {{ site.time | date: '%Y' }} {{ site.title }}&trade; &mdash; <a href="/privacy-policy/">Privacy</a></p>
    <div class="fs-6">
      <a class="text-decoration-none" href="https://xn--sr8hvo.ws/%F0%9F%8E%BC%F0%9F%8D%B3%F0%9F%8C%B9/previous"><span class="fs-5">←</span></a>&nbsp;IndieWeb webring&nbsp;<a class="text-decoration-none" href="https://xn--sr8hvo.ws/%F0%9F%8E%BC%F0%9F%8D%B3%F0%9F%8C%B9/next"><span class="fs-5">→</span></a>
    </div>
    <div class="fs-6 mt-3">
      <a class="text-decoration-none" href="https://fediring.net/previous?host=minutestomidnight.co.uk"><span class="fs-5">←</span></a>&nbsp;<a href="https://fediring.net/">Fediring</a>&nbsp;<a class="text-decoration-none" href="https://fediring.net/next?host=minutestomidnight.co.uk"><span class="fs-5">→</span></a>
    </div>
  </div>
</footer>