---
layout: page
title: 'Original music productions'
date: '2021-11-08 10:49:23'
last_modified_at: '2021-11-08 10:49:29'
description: "My work as a composer for original productions."
excerpt: "Beyond a stint as a game audio composer, <strong>I love telling stories with music</strong>. This is why my original productions mostly focus on the concept album as a format."
permalink: '/work/original-music-productions/'
---
<p class="lead">{{ page.excerpt }}</p>

<p>Over the last few years, I released a 10-songs autobiographical album titled <em>After 1989: A Trip To Freedom</em>, the single remix <em>Non sai chi sono</em> with Italian artist-producer Emilio Albertoni and a preview of my next EP called <em>The Die Is Cast</em>.</p>

{% assign originalmusicproductions = site.originalmusicproductions | reverse %}

<section class="h-feed latest-posts m2m-entry my-5 pb-3">
  <div class="card-group">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
    {% for casestudy in originalmusicproductions %}
    {% include pattern-card-casestudy.html %}
    {% endfor %}
    </div>
  </div>
</section>

{% include pattern-button-hire.html %}