---
layout: blog
title: Blog
date: '2021-11-06 14:11:45'
last_modified_at: '2021-11-08 10:57:26'
description: "I've been keeping a blog since 2002. The current incarnation is devoid of most personal material, focusing more on my work."
excerpt: 'I&rsquo;ve been keeping a blog, across different websites, since 2002. The current incarnation is devoid of most personal material and focused on my work. Follow new posts through <a class="m2m-link fw-bold" href="/feed.xml"><strong>RSS</strong></a>.'
---
<p class="lead">{{ page.excerpt }}</p>

<h2 class="text-center text-uppercase my-5">4 most popular posts</h2>

{% assign popular = site.posts | where: "tags", "popular" | limit: 4 %}
<div class="card-group mb-5">
  <div class="row row-cols-1 row-cols-sm-2 g-4">
  {%- for post in popular -%}
    {%- include pattern-card-post.html -%}
  {%- endfor -%}
  </div>
</div>

<h2 class="text-center text-uppercase mt-5 pt-3">All the posts</h2>

<section class="h-feed">
  {% for post in site.posts %}
  {% if post %}
  {% assign categories = post.categories %}
  {% else %}
  {% assign categories = page.categories %}
  {% endif %}
  {% include pattern-postblock.html %}
  {% endfor -%}
</section>