---
layout: default
---
{% capture CaseTypeURL %}
  {%- if page.type == "web design" -%}
  {{ site.url }}/work/web-design/
  {%- elsif page.type == "sound design" -%}
  {{ site.url }}/work/sound-design/
  {%- elsif page.type == "music" -%}
  {{ site.url }}/music/
  {%- endif -%}
{% endcapture %}
<article class="h-entry m2m-entry my-5">
  <div class="m2m-label text-center pt-3">
    <kbd class="fs-5"><a href="{{ CaseTypeURL }}" title="Work category"><strong class="p-category text-uppercase">{% unless page.type == "music" %}{{ page.type }}{% endunless %}{% if page.type == "music" %}{{ page.subtype }}{% endif %}</strong></a> case study</kbd>
  </div>
  <h1 class="p-name text-center display-1 lh-sm m2m-text-rotate mt-5">{{ page.title }}</h1>
  {%- if page.url contains '/work/web-design/' %}
  <p class="p-summary lead pb-3">{{ page.summary }}</p>
  {% else %}
  <p class="p-summary lead pb-3">{{ page.excerpt }}</p>
  {% endif -%}
  <div class="post-meta text-center m-auto w-75 my-5">
    <h3 class="text-uppercase">Skills &amp; tools</h3>
    <ul class="list-unstyled list-inline ps-0">
      {%- for skill in page.skillset -%}
      <li class="list-inline-item mx-1 mx-md-2 lh-lg"><kbd class="p-category text-uppercase fw-bold fs-5">{{ skill }}</kbd></li>
      {%- endfor -%}
    </ul>
    <span class="visually-hidden">
      {% include hcard-post.html %}
    </span>
  </div>
  <div class="e-content">
    {%- if page.type == "web design" or page.type == "music" -%}
    {%- if page.featimage == true %}
    <div class="py-1">
      {% responsive_image_block %}
        path: assets/images/{{ page.title | slugify | append: '.jpg' }}
        class: casestudy-feat
        alt: {{ page.title }}
      {% endresponsive_image_block %}      
    </div>
    {% endif -%}
    {% endif -%}
    {%- if page.performance == true %}
      {%- include pattern-performance.html -%}  
    {% endif -%}
    {%- if page.toc == true %}
      {% include pattern-toc.html html=content sanitize=true class="inline_toc" id="toc" h_min=2 h_max=2 %}
    {% endif -%}
    {{ content }}
    {% if page.site-is-live == true %}
    {% include pattern-button.html link=page.live-url center=true text="Visit the live website" %}
    {% endif %}
  </div>
  {%- include pattern-responses.html -%}
</article>
{%- include post-navigation.html -%}