---
layout: default
---
{% include pattern-breadcrumbs.html %}
<article class="h-entry m2m-entry">
  <h1 class="p-name text-center text-md-start mt-4 mt-md-0">{{ page.title }}</h1>
  <div class="post-meta my-4">
    {%- include post-meta.html %}
    <span class="visually-hidden">{% include hcard-post.html %}</span>
  </div>
  <h2 class="text-center text-uppercase">Summary</h2>
  {%- if page.url contains '/work/web-design/' %}
  <p class="p-summary lead">{{ page.summary }}</p>
  {% else %}
  <p class="p-summary lead">{{ page.excerpt }}</p>
  {% endif -%}
  <div class="e-content">
    {%- if page.url contains '/work/web-design/' %}
    {%- if page.featimage == true %}
      {% responsive_image_block %}
        path: assets/images/{{ page.title | slugify | append: '.jpg' }}
        alt: {{ page.title }}
      {% endresponsive_image_block %}
    {% endif -%}
    {% endif -%}
    {%- if page.performance == true %}
      {%- include pattern-performance.html -%}  
    {% endif -%}
    {%- if page.toc == true %}
      {% include pattern-toc.html html=content sanitize=true class="inline_toc" id="toc" h_min=2 h_max=3 %}
    {% endif -%}
    {{ content }}
    {% if page.site-is-live == true %}
    {% include pattern-button.html link=page.live-url center=true text="Visit the live website" %}
    {% endif %}
  </div>
</article>
{%- include post-navigation.html -%}