{%- include site-head.html -%}
<body class="layout-{{ page.layout }} {% if page.is_post %}post{% elsif page.type %}{{ page.type }}{% else %}page{% endif %}-{{ page.title | slugify }}" id="top">
  <main>
    <div class="container-lg">
      <div class="row gx-md-5">
        <div class="col-md-4">
          {% include site-header.html %}
        </div>
        <div class="col-md-8" id="m2m-content">
          {{ content }}
        </div>
      </div>
    </div>
  </main>
{% include site-footer.html -%}
</body>
</html>