---
layout: default
---
<article>
  <header>
    <h1 class="p-name">{{ page.title }}</h1>
    <time class="dt-published dim" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">{{ page.date | date: "%-d %B %Y" }}</time>&nbsp;&middot;&nbsp;<span class="p-author h-card">Written by <img class="u-photo hidden" src="{{ site.url }}/assets/images/favicons/favicon.svg" alt="Minutes to Midnight's avatar" width="24" height="24"> <a class="p-name" href="{{ site.url }}/about/" rel="author">Simone Silvestroni</a></span>&nbsp;&middot;&nbsp;<a rel="me" class="u-url u-uid" href="{{ site.url }}{{ page.url }}" title="Permalink">Permalink</a>
  </header>
  <div class="e-content">
    {{ content }}
  </div>
  {%- include post-navigation.html -%}
</article>