---
layout: default
---
<div class="m2m-label text-center text-md-start pt-2">
  <span class="p-category">
    <a class="btn-cta-m2m-bg d-inline-block text-decoration-none rounded my-2 px-2 py-1" href="/newsletter/archives/">← <span class="p-category">Newsletter archive</span></a>
  </span>
</div>
<div class="post-meta my-5">
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">{{ page.date | date: "%-d %B %Y" }}</time><span class="ps-3"><em>Written by</em> Simone Silvestroni</span>
</div>
<div class="e-content">
  {{ content }}
</div>
{%- include post-navigation.html -%}