---
layout: default
---
<p>
  <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">{{ page.date | date: "%-d %B %Y" }}</time><br>
  <strong>In reply to</strong> <a href="{{ page.replyto }}" class="u-in-reply-to">{{ page.replyto }}</a>&nbsp;↗
  {%- if page.originalpost -%}
  <br>
  ↪️ <a href="{{ site.url }}/blog/{{ page.originalpostURL }}/" class="u-in-reply-to">Original post</a>
  {% endif %}
</p>
<div class="e-content">
  {{ content }}
</div>
<a href="/notes/">← <span class="p-category">Notes</span></a>
{%- include pattern-responses.html -%}