---
layout: default
---
<article>
	<header>
		<h1 class="p-name">{{ page.title }}</h1>
	</header>
	{%- if page.featimage == true %}
	<figure>
		<img src="{{ site.url }}/assets/images/{{ page.featimage-name }}" alt="{{ page.featimage-alt }}" {{ page.featimage-width | prepend: 'width="' | append: '"' }} {{ page.featimage-height | prepend: 'height="' | append: '"' }}>
		{%- if page.featimage-caption %}
		<figcaption>{{ page.featimage-caption }}</figcaption>
		{% endif -%}
	</figure>
	{% endif -%}
	{% unless page.tldr == false %}
	<p class="p-summary">
		{{ page.description }}
	</p>
	{% endunless %}
	<div class="e-content">
		{{ content }}
		{% unless page.title == 'Page not found' or page.url contains '/search/' %}
		{%- include pattern-last-updated.html %}
		{% endunless %}
	</div>
</article>