---
layout: default
---
<article>
  <header>
    <h1 class="p-name">{{ page.title }}</h1>
    <span class="p-author h-card"><img class="u-photo" src="{{ site.url }}/assets/images/simonesilvestroni-uphoto.jpg" alt="Simone Silvestroni's avatar" width="28" height="28"> <a class="p-name" href="{{ site.url }}/about/" rel="author">Simone Silvestroni</a></span>&nbsp;&middot;&nbsp;<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated"><a rel="me" class="u-url u-uid dim" href="{{ site.url }}{{ page.url }}" title="Permalink">{{ page.date | date: "%-d %B %Y" }}</a></time>
  </header>
  <div class="tldr">
    <p class="p-summary">
      {{ page.description }}
    </p>
  </div>
  {%- unless page.thumbOnly == true -%}
  {% if page.featimage == true %}
  <figure>
    <picture>
      <source srcset="{{ site.url }}/assets/images/{{ page.featimage-name | replace:'.png','.webp' | replace:'.jpg','.webp' | replace:'.jpeg','.webp' }}" type="image/webp">
      <source srcset="/assets/images/{{ page.featimage-name }}" {% if page.featimage-name contains '.jpg' or include.image contains '.jpeg' %}type="image/jpeg"{% elsif page.featimage-name contains '.png' %}type="image/png"{% endif %}>
      <img src="{{ site.url }}/assets/images/{{ page.featimage-name }}" alt="{{ page.featimage-alt }}" {{ page.featimage-width | prepend: 'width="' | append: '"' }} {{ page.featimage-height | prepend: 'height="' | append: '"' }}>
    </picture>
    <figcaption class="p-name">{{ page.featimage-caption }}</figcaption>
  </figure>
  {% endif %}
  {% endunless -%}
  <div class="e-content">
    {{ content }}
    <br>
    <p><a href="mailto:hello@minutestomidnight.co.uk?subject={{ page.title | uri_escape }}" title="Reply to this post"><strong>Reply via email</strong></a> or use <a href="https://indieweb.org/Webmention">webmentions</a>.</p>
    <p class="warning">If you liked this, please consider subscribing to the <a href="{{ site.url }}/feed.xml">full-text RSS feed</a>. That way, you’ll get notified whenever I post anything new.</p>
    <div class="post-after">
      <p class="small"><span class="dim">Filed under</span>: {% for tag in page.tags -%}<a class="p-category" href="/blog/tag/{{ tag | slugify | append: '/' }}">{{ tag | upcase }}</a>{% unless forloop.last %}, {% endunless %}{%- endfor -%}</p>
      {% if page.syndication == true %}
      <div>
        <p class="small"><span class="dim">Also posted on:</span> {% for s in page.syndicate %}<a rel="syndication" class="u-syndication" href="{{ s.url }}">{{ s.name }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}
      </div>
      {% endif -%}
    </div>
  </div>
  {%- include pattern-responses.html -%}
</article>