---
layout: default
---
<article class="h-entry">
	<header>
		<h1>{{ page.title }}</h1>
	</header>
	{% if page.summary != "" and page.summary != nil %}
	<p class="highlight"><span>{{ page.summary }}</span></p>
	{% endif %}
	<div class="author">
		<a href="{{ site.url }}/about/"><img src="{{ site.url }}/assets/images/minutes-to-midnight-portrait.jpg" alt="{{ site.author.name }}" width="48" height="48"></a>{% if page.coauthor %}&nbsp;&amp;&nbsp;<a href="{{ page.coauthorlink }}">{{ page.coauthor }}</a>{% endif %}&nbsp;&nbsp;<a href="{{ site.url }}{{ page.url }}" title="Permalink"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated">{{ page.date | date: "%-d %b %Y" }}</time></a>
	</div>
	{%- if page.featimage == true %}
	<figure class="fullscreen">
		<img src="{{ site.url }}/assets/images/{{ page.featimage-name }}" alt="{{ page.featimage-alt }}" {{ page.featimage-width | prepend: 'width="' | append: '"' }} {{ page.featimage-height | prepend: 'height="' | append: '"' }}>
		{%- if page.featimage-caption %}
		<figcaption>{{ page.featimage-caption }}</figcaption>
		{%- endif %}
	</figure>
	{%- endif %}
	{{ content }}
	<footer>
		<ul class="taxonomy">
			{%- for tag in page.tags %}
			<li><a href="/blog/tag/{{ tag | slugify | append: '/' }}"><span>{{ tag | upcase }}</span></a>{% endfor -%}</li>
		</ul>
		<p class="reply"><a href="mailto:{{ site.author.email }}?subject={{ page.title | uri_escape }}" title="Reply to this post">Reply via email</a></p>
	</footer>
</article>
<div class="pagination">
	{% if page.previous.url -%}
	<a class="pagination-prev" href="{{ site.url }}{{ page.previous.url }}">
		<span>&larr;&nbsp;Older</span>
		<span>{{ page.previous.title }}</span>
	</a>
	{%- endif %}
	{%- if page.next.url -%}
	<a class="pagination-next" href="{{ site.url }}{{ page.next.url }}">
		<span>Newer&nbsp;&rarr;</span>
		<span>{{ page.next.title }}</span>
	</a>
	{%- endif %}
</div>