---
layout: default
---
{% capture CaseTypeURL %}
  {%- if page.type == "web design" -%}
  {{ site.url }}/projects/web-design/
  {%- elsif page.type == "sound design" -%}
  {{ site.url }}/projects/sound-design/
  {%- elsif page.type == "music" -%}
  {{ site.url }}/music/
  {%- endif -%}
{% endcapture %}
<article class="h-entry m2m-entry my-5">
  <div class="m2m-label text-center text-md-start pt-2">
    <p class="mb-5 mb-lg-2">
      <span>Project type: </span>
      <a class="m2m-link text-uppercase p-1" href="{% unless page.type == "music" %}/projects/#{{ page.type | slugify }}{% endunless %}{% if page.type == "music" %}/music/{% endif %}"><span class="p-category initialism">{% unless page.type == "music" %}{{ page.type }}{% endunless %}{% if page.type == "music" %}{{ page.subtype }}{% endif %}</span></a>
    </p>
  </div>
  <div class="post-meta mt-3">
    <span>Skills &amp; tools</span>: {% for skill in page.skillset -%}<kbd class="p-category initialism">{{ skill }}</kbd>&nbsp;{%- endfor -%}
    <span class="visually-hidden">
      {% include hcard-post.html %}
    </span>
  </div>
  <div class="e-content">
    {%- if page.featimage == true %}
    <div class="py-1">
      {% responsive_image_block %}
        path: assets/images/{{ page.title | slugify | append: '.jpg' }}
        class: project-feat
        alt: {{ page.title }}
        caption-true: {{ page.image-caption }}
        caption: {{ page.caption }}
      {% endresponsive_image_block %}      
    </div>
    {% endif -%}
    {%- if page.performance == true %}
      {%- include pattern-performance.html -%}  
    {% endif -%}
    {%- if page.toc == true %}
    <div class="mt-5">
      {% include pattern-toc.html html=content sanitize=true class="inline_toc" id="toc" h_min=2 h_max=2 %}
    </div>
    {% endif -%}
    {{ content }}
    {% if page.site-is-live == true %}
    {% include pattern-button.html link=page.live-url center=true text="Visit the live website" %}
    {% endif %}
  </div>
  {%- include pattern-responses.html -%}
</article>
{%- include post-navigation.html -%}