---
layout: default
---
{% capture CaseTypeURL %}
  {%- if page.type == "web design" -%}
  {{ site.url }}/projects/web-design/
  {%- elsif page.type == "sound design" -%}
  {{ site.url }}/projects/sound-design/
  {%- elsif page.type == "music" -%}
  {{ site.url }}/music/
  {%- endif -%}
{% endcapture %}
<article class="h-entry m2m-entry my-5">
  <div class="m2m-label text-center text-md-start pt-2">
    <span>Project: </span>
    <a class="bg-light m2m-link text-uppercase p-1" href="{% unless page.type == "music" %}/projects/#{{ page.type | slugify }}{% endunless %}{% if page.type == "music" %}/music/{% endif %}"><span class="p-category">{% unless page.type == "music" %}{{ page.type }}{% endunless %}{% if page.type == "music" %}{{ page.subtype }}{% endif %}</span></a>
  </div>
  <h1 class="p-name text-center text-md-start display-4 mt-4">{{ page.title }}</h1>
  {%- if page.collection == 'webdesign' %}
  <p class="p-summary lead">{{ page.summary }}</p>
  {% else %}
  <p class="p-summary lead">{{ page.excerpt }}</p>
  {% endif -%}
  <div class="post-meta">
    <p class="mb-0 lh-lg"><strong>Skills &amp; tools</strong>: {% for skill in page.skillset -%}<span class="p-category text-uppercase bg-light fs-5 p-1">{{ skill | prepend: '#'}}</span>{% unless forloop.last %}, {% endunless %} {%- endfor -%}</p>
    <span class="visually-hidden">
      {% include hcard-post.html %}
    </span>
  </div>
  <div class="e-content">
    {%- if page.featimage == true %}
    <div class="py-1">
      {% responsive_image_block %}
        path: assets/images/{{ page.title | slugify | append: '.jpg' }}
        class: project-feat
        alt: {{ page.title }}
        caption-true: {{ page.image-caption }}
        caption: {{ page.caption }}
      {% endresponsive_image_block %}      
    </div>
    {% endif -%}
    {%- if page.performance == true %}
      {%- include pattern-performance.html -%}  
    {% endif -%}
    {%- if page.toc == true %}
      {% include pattern-toc.html html=content sanitize=true class="inline_toc" id="toc" h_min=2 h_max=2 %}
    {% endif -%}
    {{ content }}
    {% if page.site-is-live == true %}
    {% include pattern-button.html link=page.live-url center=true text="Visit the live website" %}
    {% endif %}
  </div>
  {%- include pattern-responses.html -%}
</article>
{%- include post-navigation.html -%}