---
layout: default
---
<p>{% if page.author %}<em>Written by</em> {{page.author}}{% endif %}</p>

<div class="post-meta mt-5">
  <div class="d-flex align-items-top">
    <div>
      <span class="pe-2">Skills:</span>
    </div>
    <div class="flex-shrink-1">
      {% for skill in page.skillset -%}<span class="p-category rounded initialism border d-inline-block bg-light mb-2 me-1 py-0 px-1"><strong>{{ skill }}</strong></span>&nbsp;{%- endfor -%}  
    </div>
  </div>
  <span class="visually-hidden">
    {% include hcard-post.html %}
  </span>
</div>
<div class="e-content">
  {%- if page.featimage == true %}
  <div class="py-1">
    {% responsive_image_block %}
      path: assets/images/{{ page.title | slugify | append: '.jpg' }}
      class: project-feat
      alt: {{ page.title }}
      caption-true: {{ page.image-caption }}
      caption: {{ page.caption }}
    {% endresponsive_image_block %}      
  </div>
  {% endif -%}
  {%- if page.toc == true %}
  <div class="mt-3">
    {% include pattern-toc.html html=content sanitize=true class="inline_toc" id="toc" h_min=2 h_max=2 %}
  </div>
  {% endif -%}
  {{ content }}
</div>