---
layout: default
---
<article>
	<header>
		<h1 class="p-name">{{ page.title | capitalize }}</h1>
		<p class="p-summary">Archive page for the tag <mark class="small">{{ page.title | upcase | prepend: '#' }}</mark>.</p>
	</header>
	<div class="h-feed">
	{% for post in page.posts %}
		{%- if post -%}{% assign date = post.date %}
		{%- elsif page -%}{% assign date = page.date %}
		{%- endif -%}
		<article class="h-entry">
			<h2 class="p-name"><a href="{{ post.url }}" title="Read the post ‘{{ post.title }}’">{{ post.title }}</a></h2>
			<p class="dim"><time class="dt-published small" datetime="{{ date | date_to_xmlschema }}" itemprop="dateCreated">{{ date | date: "%-d %B %Y" }}</time></p>
			<div class="e-content">
				<p class="p-summary">{{ post.description | markdownify | strip_html }}</p>
			</div>
		</article>
		{% unless forloop.last %}
		<hr>
		{% endunless %}
	{% endfor %}
	</div>
</article>