---
layout: default
---
<section class="h-feed">
	<h1 class="p-name">Tag: {{ page.title | capitalize_all }}</h1>
	{%- for post in page.posts %}
	{%- if post -%}{% assign date = post.date %}
	{%- elsif page -%}{% assign date = page.date %}
	{%- endif -%}
	<article>
		<h2 class="p-name"><a href="{{ post.url }}" title="Read the post ‘{{ post.title }}’">{{ post.title }}</a></h2>
		<div class="p-summary">
			<time class="dt-published dim small" datetime="{{ date | date_to_xmlschema }}" itemprop="dateCreated">{{ date | date: "%-d %B %Y" }}</time>
			<p>{{ post.description | markdownify | strip_html }}</p>
		</div>
		<p><a href="{{ post.url }}"><strong>Read</strong> &rarr;</a></p>
	</article>
	{%- unless forloop.last %}
	{%- endunless %}
	{%- endfor %}
</section>