---
layout: default
---
<article class="h-entry m2m-entry my-5">
  <h1 class="p-name text-center display-1 lh-sm m2m-text-rotate mt-5">{{ page.title }}</h1>
  <span class="visually-hidden">{% include hcard-page.html %}</span>
  <p class="p-summary lead pb-3">{{ page.excerpt }}</p>
  <div class="e-content">
    {%- if page.toc == true %}
      {% include pattern-toc.html html=content sanitize=true class="inline_toc" id="toc" h_min=2 h_max=2 %}
    {% endif -%}
    {{ content }}
  </div>
</article>