---
layout: page
---
<h2>Short resume</h2>

<p class="lead">{{ page.excerpt }}</p>

<p>{{ page.closure }}</p>

<p class="detached">Here is a detailed list of the <a class="m2m-link" href="/uses/">equipment I use</a>.</p>

<h3>Sound design skills</h3>

<ul class="list-unstyled list-inline">
  {% for item in site.skills-audio -%}
  <li class="list-inline-item my-2 me-2">
    <span class="btn-label-m2m btn-label-m2m btn-label-m2m-bg initialism fs-6 rounded px-3 py-2"><strong>{{ item.skill }}</strong></span>
  </li>
  {% endfor %}
</ul>

<h3>Web design skills</h3>

<ul class="list-unstyled list-inline">
  {% for item in site.skills-web -%}
  <li class="list-inline-item my-2 me-2">
    <span class="btn-label-m2m btn-label-m2m btn-label-m2m-bg initialism fs-6 rounded px-3 py-2"><strong>{{ item.skill }}</strong></span>
  </li>
  {% endfor %}
</ul>

<h2>Extended resume</h2>

<nav class="m2m-accordion m2m-accordion-arrows mt-3 pt-3">
  <input type="radio" name="accordion" id="m2m-accordion-1" class="visually-hidden" />
  <div class="m2m-accordion-box">
    <label class="m2m-accordion-box-title" for="m2m-accordion-1"><h3 class="h4 my-0">Table of contents</h3></label>
    <label class="m2m-accordion-box-close" for="m2m-accordion-close"><span class="visually-hidden">Close table of contents</span></label>
    <div class="m2m-accordion-box-content">
      {% include pattern-toc.html html=content sanitize=true class="inline_toc m2m-ul" id="m2m-work-toc" h_min=2 h_max=4 %}
    </div>
  </div>
  <input type="radio" name="accordion" id="m2m-accordion-close" class="visually-hidden" />
</nav>

{{ content }}