---
layout: page
---
<h2>Short resume</h2>

<p class="lead">{{ page.excerpt }}</p>

<p>{{ page.closure }}</p>

<p class="detached">Here is a detailed list of the <a class="m2m-link" href="/uses/">equipment I use</a>.</p>

<h3>Sound design skills</h3>

<ul class="list-unstyled list-inline ps-0">
  {% for item in site.skills-audio -%}
  <li class="list-inline-item my-2 me-2">
    <span class="btn-label-m2m btn-label-m2m btn-label-m2m-bg initialism fs-6 rounded px-3 py-2"><strong>{{ item.skill }}</strong></span>
  </li>
  {% endfor %}
</ul>

<h3>Web design skills</h3>

<ul class="list-unstyled list-inline ps-0">
  {% for item in site.skills-web -%}
  <li class="list-inline-item my-2 me-2">
    <span class="btn-label-m2m btn-label-m2m btn-label-m2m-bg initialism fs-6 rounded px-3 py-2"><strong>{{ item.skill }}</strong></span>
  </li>
  {% endfor %}
</ul>

<h2>Extended resume</h2>

{{ content }}