---
layout: default
title: 'Personal website of Simone Silvestroni'
date: '2021-11-06 13:41:57'
last_modified_at: '2024-11-30 23:27:00'
---
<h1><img src="{{ site.url }}/assets/images/m2m-logo-full.svg" alt="Minutes to Midnight"></h1>
<section>
	<h2>About</h2>
	<p>I'm Simone, a gen X with a straight to the point attitude. Based in the UK, I play bass and <a href='/sound-design/'>design sound</a> under the moniker <em>Minutes to Midnight</em>. It's a reference to the <em>Doomsday Clock</em>, a connection with the world I grew up in during the Cold War.</p>
	<p>In previous lives I worked as a game audio designer and a web developer. Today my day job is with the University of Cambridge.</p>
	<p>To dig deeper, I wrote a <a href="/personal-manifesto/">personal manifesto</a>.</p>
	</section>
<section>
	<h2>Latest 5 posts</h2>
	<ul class="list-table">
		{%- for post in site.posts limit:5 %}
		<li>
			<time class="dim small" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d&nbsp;%b" }}</time>
			<a href="{{ site.url }}{{ post.url }}" title="{{ post.summary | strip_html }}">{{ post.title }}</a>
		</li>
		{%- endfor %}
	</ul>
	<p><a class="cta" href="{{ site.url }}/blog/"><strong>All posts&nbsp;&rarr;</strong></a></p>
</section>
<section>
	<h2>Contacts</h2>
	<p>My preferred means of communication is <a href='mailto:hello@minutestomidnight.co.uk'>email</a>. If privacy is needed, use my <a href='/pgp/'>PGP public key</a>.</p>
	<p>Beside this website, I can be found on <a href="https://minutestomidnight.bandcamp.com/follow_me">Bandcamp</a>, <a href="https://sonomu.club/@m2m">Mastodon</a>, and <a href="https://www.youtube.com/@m2m">YouTube</a>.</p>
	<p>Music-wise, I'm also <a href="https://soundbetter.com/profiles/206552-simone-silvestroni">available on SoundBetter</a>, a platform for freelance musicians, however, I'd rather start collaborations by exchanging direct messages.</p>
	<p><a class='cta' href="{{ site.url }}/sound-design/">Recent audio work&nbsp;&rarr;</a></p>
</section>
<div class="fullscreen">
	{% include figure.liquid image='simone-silvestroni-in-the-studio.webp' alt='Me in the studio' caption='In the studio, recording bass — 2019' width='1600' height='1066' %}
</div>
{% include last-update.liquid %}