---
layout: page
title: 'Sound Design'
date: '2021-11-08 10:49:23'
last_modified_at: '2021-12-07 16:57:20'
description: "My work as a producer, game audio specialist and audio editor."
excerpt: "<strong>Recording and sculpting sound</strong> has always been a massive creative push. Heterogeneous collaborations, game audio as well as editing and restoration are a constant source of excitement."
permalink: '/work/sound-design/'
---
<p class="lead">{{ page.excerpt }}</p>

{% assign production = site.sounddesign | where: "type", "production" | reverse %}
{% assign gameaudio = site.sounddesign | where: "type", "game audio" | reverse %}
{% assign audioediting = site.sounddesign | where: "type", "audio editing" | reverse %}

<section class="h-feed m2m-entry my-5 pb-3">
  
  <h2 class="fs-1 text-center text-uppercase mt-5">Bass & Production</h2>

  <h3 class="text-center text-uppercase">Case studies</h3>
  
  <div class="card-group pb-5">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
    {% for casestudy in production %}
    {% include pattern-card-casestudy.html %}
    {% endfor %}
    </div>
  </div>
  
  <p>Initially self-taught, I had private tuition before enrolling for the CPM music institute in Milan and graduating with Stefano Cerri and Nicoletta Caselli. Been <strong>playing bass</strong> between Italy, the UK and with US-based acts, both <a href="/blog/live-shows/">live</a> and <a href="/work/sound-design/producing-bass-remotely/">in the studio</a>.</p>

  <h3 class="text-center text-uppercase">Bass playlist</h3>

  {% include pattern-spotify.html id="1EC2Hm0xSywc5pITPMhuIA" type="playlist" height="380" %}
  
  <p class="detached">Producing music since the 1990s, I properly focused on it over the last decade when I graduated at Berklee. <strong>Specialized in mixing</strong>, I strive to realize the artist's vision, adding creativity and delivering on time. I produced albums and singles in different countries with artists like Gerald Duchene, Mally Harpaz, Ember Rev, Ciara Clifford, Dan Ecclestone, Callum Gardner and more.</p>

  <h3 class="text-center text-uppercase">Production playlist</h3>

  {% include pattern-spotify.html id="6yRM57FJ9JKONDAXaLBAdx" type="playlist" height="380" %}

  <h2 class="fs-1 text-center text-uppercase my-5">Game Audio</h2>

  <p>I used to be the audio team leader for the game company Playstos Entertainment, with a title shipped at the end of the 2000s. I was in charge of directing the soundtrack, creating and editing the sound effects while co-ordinating a team of 2 sound designers and 2 audio programmers.</p>

  <h3 class="text-center text-uppercase">Case studies</h3>

  <div class="card-group pb-3">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
    {% for casestudy in gameaudio %}
    {% include pattern-card-casestudy.html %}
    {% endfor %}
    </div>
  </div>

  <h2 class="fs-1 text-center text-uppercase my-5">Audio Editing</h2>

  <div class="card-group pb-3">
    <div class="row row-cols-1 row-cols-sm-2 g-4">
    {% for casestudy in audioediting %}
    {% include pattern-card-casestudy.html %}
    {% endfor %}
    </div>
  </div>

</section>

<h2>Certifications, courses &amp; memberships</h2>

<ul class="list-group list-group-flush ps-0">
  <li class="list-group-item ps-0 pb-3"><a href="https://www.berklee.edu/">Berklee College Of Music</a> (audio master engineering, music production, electric bass), 2011-2016.</li>
  <li class="list-group-item ps-0 pb-3"><a href="https://training.apple.com/us/en/recognition">Apple Pro Certified</a> for Logic Pro X 10.3, London, 2018.</li>
  <li class="list-group-item ps-0 pb-3"><a href="https://www.gdconf.com/">Game Developer Conference</a>, San Jose (California), 2002.</li>
  <li class="list-group-item ps-0 pb-3"><a href="https://www.audiogang.org/">Game Audio Network Guild</a> bronze member, San Jose (California), 2002.</li>
  <li class="list-group-item ps-0 pb-3"><a href="https://www.cpm.it/corsi-musica-milano">Centro Professione Musica</a> diploma (bass, music theory, harmony &amp; arrangement), Milan, 1993-1995.</li>
</ul>

<h2>Publications</h2>

<ul class="list-group list-group-flush ps-0">
  <li class="list-group-item ps-0 pb-3"><em>Efficient Productivity for Music Professionals</em> (2020). Download the <a href="/work/project-management/">free ebook</a>.</li>
  <li class="list-group-item ps-0 pb-3"><em>A Trip to Freedom, from Berlin to Berlin</em>, published by <a href="https://medium.com/lessons-from-history/a-trip-to-freedom-from-berlin-to-berlin-e9725231eb2e">Lessons from History</a>, 2019.</li>
  <li class="list-group-item ps-0 pb-3"><em>Producing bass tracks remotely</em>, published by <a href="https://unlockyoursound.com/producing-bass-tracks-remotely/">Unlock Your Sound</a>.</li>
</ul>

<div class="text-center my-5">
  <a class="btn btn-lg btn-m2m btn-m2m-cta py-3 px-4 fw-bold" href="/contact/" title="Hire me"><span class="text-uppercase fs-4">🔗 <strong class="ps-1">Hire me</strong></span></a>
</div>